@using Website_GSshop.Models;
@{
    Data_GSShopEntities db = new Data_GSShopEntities();
}
@{
    List<Product> products = db.Product.ToList();
}
var content = [
    @foreach (var item in products)
    {
        @:{ title: '<div class="row" style="height: 2%"><a href="@Url.Action("ProductDetail","View", new {@id = item.product_id})" class="text-dark"><div class="col-md-3 mt-2 mb-2"><img src="/Content/Layout/images/@item.product_image" class="ml-2"/></div><div class="col-md-9" style="margin-top: 7.5%">@item.product_name</div></a></div>' },
    }
];   