@using Website_GSshop.Models
@model List<Product>
@foreach (var item in Model)
{
    <table class="col-md-12">
        <tr class="row">
            <td class="col-md-3 mt-5">
                <img src="~/Content/Layout/images/@item.product_image" alt="" class="img2" />
                <span class="label1 best-seller-label test mt-3 ml-2">Best seller</span>
            </td>
            <td class="col-md-5 mt-7">
                <h3 class="p-product">
                    [Game 1K kỳ diệu - Mở bán ngày 24/09/2020 - Chỉ hỗ trợ thanh toán bằng ví eM trên Lazada App]Bộ nồi gốm Goldsun 3 nồi 1 quánh công nghệ HÀN QUỐC KOREA STAR AD06-2
                </h3>
                <i class="ic-dynamic-badge ic-dynamic-badge-freeShipping ic-dynamic-group-2 mt-1" style="background-image: url(&quot;//laz-img-cdn.alicdn.com/tfs/TB1QTkMXG67gK0jSZFHXXa9jVXa-45-28.png&quot;); width: 40px; height: 40px;" data-spm-anchor-id="a2o4n.searchlistcategory.list.i36.58b95752VuSb8Z"></i>
                <br />
                <div class="pill1 text-right mt-2">&nbsp;&nbsp;&nbsp;&nbsp;<b>Việt Nam</b>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <br />
                <p class="mt-3 text-left">● Game 1k kỳ diệu</p>
            </td>
            <td class="col-md-2 mt-8">
                <span class="p-price text-orange" style="font-size: 20px">$ @item.product_price</span>
            </td>
        </tr>
    </table>  
    <br />
}