@using Website_GSshop.Models
@model List<ShoppingCarts>
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    User sesus = (User)Session["user"];
}
<link href="~/Content/CSS/shoppingcart.css" rel="stylesheet" />
<div class="container-fluid">
    <nav class="bg-white mt-5">
        <div class="d-flex align-items-center">
            <div class="logo"> <a href="#" class="text-uppercase">shop</a> </div>
            <div class="ml-auto"> <a href="#" class="text-uppercase"> Back to shopping</a> </div>
        </div>
    </nav>
    <header class="header1">
        <div class="d-flex justify-content-center align-items-center pb-3">
            <div class="px-sm-5 px-2 active">SHOPPING CART <span class="fa fa-check"></span> </div>
            <div class="px-sm-5 px-2">CHECKOUT</div>
            <div class="px-sm-5 px-2">FINISH</div>
        </div>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </header>
    <div class="wrapper1" style="background-color: #f9f9f9">
        <div class="h5 large">Billing Address</div>
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1">
                <div class="mobile h5">Billing Address</div>
                <div id="details" class="bg-white rounded pb-5">
                    <form>
                        <div class="form-group"> <label class="text-muted">Name</label> <input type="text" value="David Smith" class="form-control"> </div>
                        <div class="form-group">
                            <label class="text-muted">Email</label>
                            <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="email" value="david.343@gmail.com"> <span class="fa fa-check text-success pr-sm-2 pr-0"></span> </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="text" value="Houston"> <span class="fa fa-check text-success pr-2"></span> </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Zip code</label>
                                    <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="text" value="77001"> <span class="fa fa-check text-success pr-2"></span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="text" value="542 W.14th Street"> <span class="fa fa-check text-success pr-2"></span> </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="text" value="NY"> <span class="fa fa-check text-success pr-2"></span> </div>
                                </div>
                            </div>
                        </div> <label>Country</label> <select name="country" id="country">
                            <option value="usa">USA</option>
                            <option value="ind">INDIA</option>
                        </select>
                    </form>
                </div> 
                <input class="mt-3" type="checkbox" checked> <label>Shipping address is same as billing</label>
                <div id="address" class="bg-light rounded mt-3">
                    <div class="font-weight-bold text-blue"> Shopping Address </div>
                    <div class="d-md-flex justify-content-md-start align-items-md-center pt-3">
                        <div style="width: 100%">
                            <b>Home Address</b>
                            <br />
                            <span class="text-justify text-muted">542 W.14th Street</span>
                            <br />
                            <span class="text-uppercase text-muted">NY</span>
                        </div>
                        <div class="rounded py-2 px-3" id="register">
                            <a href="#"> <b>Register Now</b> </a>
                            <p class="text-muted">Create account to have multiple address saved</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1 pt-lg-0 pt-3">
                <div id="cart" class="bg-white rounded">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="h6">Cart Summary</div>
                        <div class="h6"> <a href="#">Edit</a> </div>
                    </div>
                    <div class="d-flex jusitfy-content-between align-items-center pt-3 pb-2 border-bottom">
                        <div class="item2 pr-2">
                            <img src="https://images.unsplash.com/photo-1569488859134-24b2d490f23f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" width="80" height="80">
                            <div class="number">2</div>
                        </div>
                        <div class="d-flex flex-column px-3"> <b class="h5">BattleCreek Coffee</b> <a href="#" class="h5 text-primary">C-770</a> </div>
                        <div class="ml-auto"> <b class="h5">$80.9</b> </div>
                    </div>
                    <div class="my-3"> <input type="text" class="w-100 form-control text-center" placeholder="Gift Card or Promo Card"> </div>
                    <div class="d-flex align-items-center row">
                        <div class="col-md-6">
                            <div class="display-5">Subtotal</div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="ml-auto font-weight-bold">$80.9</div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center py-2 border-bottom row">
                        <div class="col-md-6">
                            <div class="display-5">Shipping</div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="ml-auto font-weight-bold">$80.9</div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center py-2 row">
                        <div class="col-md-6">
                            <div class="display-5">Total</div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="ml-auto font-weight-bold">$80.9</div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <span class="text-muted">Need help with an order?</span>
                    <br />
                    <span class="text-muted"><a href="#" class="text-danger">Hotline:</a>+314440160 (International)</span>
                </div>
                <div class="h4"> <span class="fa fa-shield text-info pr-2" style="font-size: 30px"></span> Security of your shopping</div>
                <div id="summary" class="bg-white rounded py-2 my-4">
                    <table class="table table-borderless" style="box-shadow: none">
                        <tbody>
                            <tr class="text-muted">
                                <td>Battlecreek Coffee</td>
                                <td>:</td>
                                <td>$80.9</td>
                            </tr>
                            <tr class="text-muted">
                                <td>Code-770</td>
                                <td>:</td>
                                <td>770</td>
                            </tr>
                            <tr class="text-muted">
                                <td>Quantity</td>
                                <td>:</td>
                                <td>
                                    <div class="d-flex align-items-center"> <span class="fa fa-minus btn text-muted qtyminus"></span> <span class="qty"></span> <span class="fa fa-plus btn text-muted qtyplus"></span> </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="border-top py-2 d-flex align-items-center ml-2 font-weight-bold row">
                        <div class="col-md-6">
                            <div>Total</div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="px-2">$92.98</div>
                        </div>
                    </div>
                </div>
                <div class="row pt-lg-3 pt-2 buttons mb-sm-0 mb-2">
                    <div class="col-md-6">
                        <div class="btn text-uppercase">back to shopping</div>
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3 text-right">
                        <div class="btn text-white ml-auto"> <span class="fa fa-lock"></span> Continue to Shopping </div>
                    </div>
                </div>
                <div class="text-muted pt-3" id="mobile"> <span class="fa fa-lock"></span> Your information is save </div>
            </div>
        </div>
        <div class="text-muted"> <span class="fa fa-lock"></span> Your information is save </div>
    </div>
</div>
<script>
    $(".qtyminus").on("click", function () {
        var now = $(".qty").val();
        if ($.isNumeric(now)) {
            if (parseInt(now) - 1 > 0) { now--; }
            $(".qty").val(now);
        }
    })
    $(".qtyplus").on("click", function () {
        var now = $(".qty").val();
        if ($.isNumeric(now)) {
            $(".qty").val(parseInt(now) + 1);
        }
    });
</script>

