@model Website_GSshop.Models.Collection

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
