@using Website_GSshop.Models;
@model List<Product>
@{
    ViewBag.Title = "Menu_LazGlobal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid mt-3" style="background-color: #f9f9f9">
    <div class="d-flex justify-content-between align-items-center mb-3"> <h3 class="text-uppercase"><img src="~/Content/Layout/images/icons8-fire-48.png" /> Dành cho bạn</h3> <h3 class="custom-badge text-uppercase">See More <i class="fa fa-angle-right ml-1"></i></h3> </div>
    <div class="container-fluid" style="margin-top: -2%">
        <div class="row">
            <div class="col-md-4 mt-3">
                <div class="card hovercard" style="height: 707px">
                    <div class="cardheader" style="background-image: url('../../Content/Layout/images/aolen.jpg'); height: 530px; background-size: cover">
                    </div>
                    <div class="avatar1">
                        <img src="~/Content/Layout/images/aolen.jpg" alt="" />
                    </div>
                    <div class="info">
                        <div class="title">
                            <a href="#" style="color: black">aaa</a>
                        </div>
                        <a href="#"><small class="desc" style="color: #a6a6a6">aaa</small></a>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style="padding: 0px">
                @for (var i = 0; i < 2; i++)
                {
                    <div class="row">
                        @for (var j = 0; j < 4; j++)
                        {
                            <div class="col-md-3" style="width: 20%">
                                <div class="card-1">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex flex-row align-items-center time"><small><span class="product-new-label1"><b class="test">- 40%</b></span></small> </div>
                                        <div class="pr-3 row justify-content-end">
                                            <div class="fa fa-heart-o like"></div>
                                        </div>
                                    </div>
                                    <div class="text-center mt-2">
                                        <img src="~/Content/Layout/images/croptop1.jpg" width="250" />
                                    </div>
                                    <h5 class="text-left">Áo thun croptop</h5>
                                    <span class="text-danger">₫ 160.000</span> <i class="ic-dynamic-badge ic-dynamic-badge-freeShipping ic-dynamic-group-2 mt-1 ml-2" style="background-image: url(&quot;//laz-img-cdn.alicdn.com/tfs/TB1QTkMXG67gK0jSZFHXXa9jVXa-45-28.png&quot;); width: 30px; height: 30px;" data-spm-anchor-id="a2o4n.searchlistcategory.list.i36.58b95752VuSb8Z"></i>
                                    <br />
                                    <s class="text-gray">₫ 200.000</s>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
