@using Website_GSshop.Models;
@model List<Product>
@{
    ViewBag.Title = "Menu_TopUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<div class="container-fluid">
    <div class="lzd-act-icon-navigation mt-2">
        <section class="lzd-act-icon-flipsnap" data-spm-anchor-id="a2o4n.11287780.6316219760.i0.588351a4OzYtC2">
            <div class="lzd-act-list-wrap">
                <ul class="lzd-act-navigation-icon-list J_Flipsnap" style="transition-property: transform; transition-timing-function: cubic-bezier(0, 0, 0.25, 1); transition-duration: 350ms; transform: translate3d(0px, 0px, 0px);">
                    <li class="lzd-act-navigation-item-icon J_Item">
                        <a href="#" class="lzd-act-a-tag">
                            <img class="custom-icon" src="//laz-img-cdn.alicdn.com/images/ims-web/TB1FxSGJlr0gK0jSZFnXXbRRXXa.png_2200x2200q75.jpg_.webp">
                            <p class="lzd-act-navigation-icon-text">
                                <span class="banner_topup">Nạp Điện Thoại &amp; Data</span>
                            </p>
                        </a>
                    </li>
                    <li class="lzd-act-navigation-item-icon J_Item">
                        <a href="#" class="lzd-act-a-tag">
                            <img class="custom-icon" src="//laz-img-cdn.alicdn.com/images/ims-web/TB1uyiGJlr0gK0jSZFnXXbRRXXa.png_2200x2200q75.jpg_.webp">
                            <p class="lzd-act-navigation-icon-text">
                                <span class="banner_topup">Thẻ Cào &amp; Thẻ Data</span>
                            </p>
                        </a>
                    </li>
                    <li class="lzd-act-navigation-item-icon J_Item">
                        <a href="#" class="lzd-act-a-tag">
                            <img class="custom-icon" src="//laz-img-cdn.alicdn.com/images/ims-web/TB1riCGJlr0gK0jSZFnXXbRRXXa.png_2200x2200q75.jpg_.webp">
                            <p class="lzd-act-navigation-icon-text">
                                <span class="banner_topup">Thẻ Game &amp; Phần Mềm</span>
                            </p>
                        </a>
                    </li>
                    <li class="lzd-act-navigation-item-icon J_Item">
                        <a href="#" class="lzd-act-a-tag">
                            <img class="custom-icon" src="//laz-img-cdn.alicdn.com/images/ims-web/TB1Py1GJlr0gK0jSZFnXXbRRXXa.png_2200x2200q75.jpg_.webp">
                            <p class="lzd-act-navigation-icon-text">
                                <span class="banner_topup">Deal Sốt Xình Xịch</span>
                            </p>
                        </a>
                    </li>
                    <li class="lzd-act-navigation-item-icon J_Item">
                        <a href="#" class="lzd-act-a-ta">
                            <img class="custom-icon" src="//laz-img-cdn.alicdn.com/images/ims-web/TB1qzOGJlr0gK0jSZFnXXbRRXXa.png_2200x2200q75.jpg_.webp">
                            <p class="lzd-act-navigation-icon-text">
                                <span class="banner_topup">Ẩm Thực</span>
                            </p>
                        </a>
                    </li>
                    <li class="lzd-act-navigation-item-icon J_Item">
                        <a href="#" class="lzd-act-a-tag">
                            <img class="custom-icon" src="//laz-img-cdn.alicdn.com/images/ims-web/TB1yjqCJbj1gK0jSZFuXXcrHpXa.png_2200x2200q75.jpg_.webp">
                            <p class="lzd-act-navigation-icon-text">
                                <span class="banner_topup">Du Lịch</span>
                            </p>
                        </a>
                    </li>
                    <li class="lzd-act-navigation-item-icon J_Item">
                        <a href="#" class="lzd-act-a-tag">
                            <img class="custom-icon" src="//laz-img-cdn.alicdn.com/images/ims-web/TB10QCGJlr0gK0jSZFnXXbRRXXa.png_2200x2200q75.jpg_.webp">
                            <p class="lzd-act-navigation-icon-text">
                                <span class="banner_topup">HDSD Coupon</span>
                            </p>
                        </a>
                    </li>
                    <li class="lzd-act-navigation-item-icon J_Item">
                        <a href="#" class="lzd-act-a-tag">
                            <img class="custom-icon" src="//laz-img-cdn.alicdn.com/images/ims-web/TB1JAaCJbj1gK0jSZFuXXcrHpXa.png_2200x2200q75.jpg_.webp">
                            <p class="lzd-act-navigation-icon-text">
                                <span class="banner_topup">Xem Thêm</span>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    </div>
    <!--Banner-->
<div class="container-fluid">
    <div style="background-image: url(&quot;//laz-img-cdn.alicdn.com/images/ims-web/TB1MSYtRlr0gK0jSZFnXXbRRXXa.jpg_2200x2200q75.jpg_.webp&quot;)" class="slider-content">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <div class="scroll_slider mr-6" style="margin-top: 3.5%">
                    <span class="next">
                        <span class="fa fa-angle-right" style='font-size:30px'></span>
                    </span>
                    <div class="main">
                        <ul class="list-style">
                            @foreach (var item in Model.Where(n => n.gsmail_id == 3).Take(8))
                            {
                                <li class="col-md-3">
                                    <div class="card-1">
                                        <div class="text-center">
                                            <img src="~/Content/Layout/images/@item.product_image" width="250" />
                                        </div>
                                        <h5 class="text-left">Áo thun croptop</h5>
                                        @{
                                            float sale = ((float)item.product_price * (1 - ((float)item.product_percent / 100)));
                                        }
                                        <span class="text-orange">₫ @sale.ToString("#,##0")</span> <i class="ic-dynamic-badge ic-dynamic-badge-freeShipping ic-dynamic-group-2 mt-1 ml-2" style="background-image: url(&quot;//laz-img-cdn.alicdn.com/tfs/TB1QTkMXG67gK0jSZFHXXa9jVXa-45-28.png&quot;); width: 30px; height: 30px;" data-spm-anchor-id="a2o4n.searchlistcategory.list.i36.58b95752VuSb8Z"></i>
                                        <br />
                                        <s class="text-gray">₫ @{float price = (float)item.product_price;} @price.ToString("#,##0")</s><span class="text-dark ml-2">-20%</span>
                                    </div>
                                    <br />
                                </li>
                            }
                        </ul>
                    </div>
                    <span class="prev">
                        <span class="fa fa-angle-left" style='font-size:30px'>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>    
<script>
    $('.scroll_slider .next span').click(function () {
        var x = $(this).parents('.scroll_slider').find('.main ul');
        var marginRight = x.css('marginRight');
        var b = parseFloat(marginRight);
        if (b == 0) {
            x.animate({ 'marginRight': '-800px' }, 800)

        }
        else {
            x.animate({ 'marginRight': '+=800px' }, 800)
        }
    });
    $('.scroll_slider .prev span').click(function () {

        var x = $(this).parents('.scroll_slider').find('.main ul');
        var marginRIght = x.css('marginRight');
        var a = parseFloat(marginRIght);
        if (a <= -800) {
            x.animate({ 'marginRight': '0px' }, 800)
        }
        else {
            x.animate({ 'marginRight': '-=800px' }, 800)
        }
    })
</script>

