@using Website_GSshop.Models
@model List<Product>
@{
    ViewBag.Title = "Menu_GSMall";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Data_GSShopEntities db = new Data_GSShopEntities();
}

@{ 
    List<GSMall> gs = db.GSMall.ToList();
    List<Product> pr = db.Product.ToList();
}

<link href="~/Content/CSS/grand.css" rel="stylesheet" />

<div class="container-fluid mt-3">
    <h1>Cửa hàng cho bạn</h1>
    <div class="mt-3">
        <div class="logo-slider">
            <div class="logo-slide-track">
                @foreach (var item in Model.OrderByDescending(n => n.product_datecreated))
                {
                    <div class="slide text-center" style="border: 1px solid black; height: 120px; width: 230px">
                        <img src="~/Content/Layout/images/@item.product_image" alt="" />
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="container-fluid py-5 row">
        @foreach (var item in gs)
        {
            <div class="card py-4 px-4 col-md-6 p-0">
                <div class="row justify-content-start px-3">
                    <div class="image-bg mr-3"> <img class="user-img fit-image" src="~/Content/Layout/images/@item.gsmall_image"> </div>
                    <div class="text-left">
                        <h2>@item.gsmall_name</h2>
                        <span class="fa fa-star active"></span> <span class="fa fa-star active"></span> <span class="fa fa-star active"></span> <span class="fa fa-star active"></span> <span class="fa fa-star"></span>
                    </div>
                </div>
                <div class="btn btn-pink float-lg-right">FOLLOW</div>
                <div class="line"></div>
                <div class="row d-flex justify-content-between px-3">
                    @foreach (var item1 in pr.Where(n => n.gsmail_id == item.gsmall_id).Take(4))
                    {
                        <div class="prod-bg text-center py-1"><img class="prod-pic" src="~/Content/Layout/images/@item1.product_image"></div>
                    }
                    <div class="more text-center pt-3">
                        <h1 class="mb-0 dk-none dk-sm-block"><strong>+@pr.Where(n => n.gsmail_id == item.gsmall_id).Count()</strong></h1>
                        <h5>ITEMS</h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
