@using Website_GSshop.Models
@model List<Favourite>
@{
    ViewBag.Title = "FavouriteManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";

    User sesus = (User)Session["user"];
}

<link href="~/Content/CSS/manage.css" rel="stylesheet" />

<h3 class="text-left ml-8 mt-3 font-weight-600">
    <svg id="Capa_1" enable-background="new 0 0 512 512" height="40" viewBox="0 0 512 512" width="40" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m94.374 59.018h323.252v323.252h-323.252z" fill="#ecc373" /></g><g><path d="m393.382 59.018v92.935c0 5.579-4.523 10.102-10.102 10.102h-288.906v24.244 195.971h323.252v-323.252z" fill="#dab46b" /></g><g><path d="m291.356 59.018v70.712l-35.356-10.102-35.356 10.102v-70.712z" fill="#f4e2c1" /></g><g><g><path d="m498.439 218.624h-484.878c-3.347 0-6.061-2.714-6.061-6.061v-20.203c0-3.347 2.714-6.061 6.061-6.061h484.878c3.347 0 6.061 2.714 6.061 6.061v20.203c0 3.347-2.714 6.061-6.061 6.061z" fill="#8078bc" /></g><g><path d="m498.439 186.299h-24.244c3.347 0 6.061 2.714 6.061 6.061v20.203c0 3.347-2.714 6.061-6.061 6.061h24.244c3.347 0 6.061-2.714 6.061-6.061v-20.203c0-3.348-2.714-6.061-6.061-6.061z" fill="#6b61b1" /></g><g><path d="m405.149 452.982h-23.533c-4.418 0-8.324-2.871-9.642-7.089l-7.886-25.237h58.589l-7.886 25.237c-1.318 4.217-5.224 7.089-9.642 7.089z" fill="#ffd064" /></g><g><path d="m106.851 452.982h23.533c4.418 0 8.324-2.871 9.642-7.089l7.886-25.237h-58.589l7.886 25.237c1.318 4.217 5.224 7.089 9.642 7.089z" fill="#ffd064" /></g><g><path d="m33.764 218.624 33.376 185.405c1.727 9.627 10.102 16.627 19.88 16.627h337.96c9.778 0 18.153-7 19.88-16.627l33.376-185.405zm109.098 147.484c0 8.93-7.233 16.163-16.163 16.163s-16.163-7.233-16.163-16.163v-88.894c0-4.465 1.808-8.505 4.728-11.435 2.929-2.919 6.97-4.727 11.435-4.727 8.93 0 16.163 7.233 16.163 16.163zm64.65 0c0 8.93-7.233 16.163-16.163 16.163s-16.163-7.233-16.163-16.163v-88.894c0-4.465 1.808-8.505 4.728-11.435 2.93-2.919 6.97-4.727 11.435-4.727 8.93 0 16.163 7.233 16.163 16.163zm64.651 0c0 8.93-7.233 16.163-16.163 16.163s-16.163-7.233-16.163-16.163v-88.894c0-8.93 7.233-16.163 16.163-16.163 4.465 0 8.506 1.808 11.435 4.727 2.919 2.93 4.728 6.97 4.728 11.435zm64.65 0c0 8.93-7.233 16.163-16.163 16.163s-16.163-7.233-16.163-16.163v-88.894c0-8.93 7.233-16.163 16.163-16.163 4.465 0 8.506 1.808 11.435 4.727 2.919 2.93 4.728 6.97 4.728 11.435zm64.65 0c0 8.93-7.233 16.163-16.163 16.163s-16.163-7.233-16.163-16.163v-88.894c0-8.93 7.233-16.163 16.163-16.163 4.465 0 8.506 1.808 11.435 4.727 2.919 2.93 4.728 6.97 4.728 11.435z" fill="#8078bc" /></g><g><path d="m473.871 242.868 4.365-24.244h-444.472l4.364 24.244z" fill="#6b61b1" /></g><g><path d="m463.965 378.735-164.845-164.845c-6.312-6.312-6.312-16.545 0-22.857 6.312-6.312 16.545-6.312 22.857 0l164.845 164.845c6.312 6.312 6.312 16.545 0 22.857-6.312 6.312-16.545 6.312-22.857 0z" fill="#ccf49f" /></g><g><path d="m48.035 378.735 164.845-164.845c6.312-6.312 6.312-16.545 0-22.857-6.312-6.312-16.545-6.312-22.857 0l-164.845 164.844c-6.312 6.312-6.312 16.545 0 22.857 6.312 6.313 16.545 6.313 22.857.001z" fill="#ccf49f" /></g></g><g><path d="m232.337 277.214v88.894c0 13.048 10.615 23.663 23.663 23.663s23.663-10.615 23.663-23.663v-88.894c0-6.313-2.456-12.254-6.934-16.748-4.475-4.459-10.416-6.915-16.729-6.915-13.048 0-23.663 10.615-23.663 23.663zm32.326 0v88.894c0 4.776-3.886 8.663-8.663 8.663s-8.663-3.886-8.663-8.663v-88.894c0-4.776 3.886-8.663 8.663-8.663 2.316 0 4.497.902 6.123 2.521 1.637 1.644 2.54 3.825 2.54 6.142z" /><path d="m498.439 178.799h-73.313v-119.781c0-4.142-3.358-7.5-7.5-7.5h-36.8c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h29.3v112.281h-253.789c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h20.313l-17.325 17.325h-144.325v-17.325h105.981c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-19.107v-112.281h111.271v63.211c0 2.354 1.104 4.57 2.983 5.988 1.879 1.417 4.313 1.87 6.577 1.224l33.295-9.513 33.295 9.513c.678.194 1.371.289 2.06.289 1.612 0 3.201-.52 4.517-1.512 1.879-1.417 2.983-3.634 2.983-5.988v-63.212h46.615c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-251.096c-4.142 0-7.5 3.358-7.5 7.5v119.781h-73.313c-7.478 0-13.561 6.083-13.561 13.561v20.204c0 7.478 6.083 13.561 13.561 13.561h13.933l17.822 99.008-25.441 25.441c-4.469 4.469-6.931 10.412-6.931 16.732s2.461 12.263 6.931 16.731c4.613 4.613 10.672 6.919 16.732 6.919s12.119-2.306 16.732-6.919l2.192-2.192 4.228 23.507c2.175 12.121 12.009 21.169 23.984 22.586l6.309 20.19c2.309 7.388 9.061 12.352 16.801 12.352h23.533c7.74 0 14.492-4.964 16.801-12.352l6.242-19.974h148.031c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-214.44c-6.155 0-11.411-4.396-12.499-10.455l-6.074-33.773 34.59-34.589v31.768c0 13.048 10.615 23.663 23.663 23.663s23.663-10.615 23.663-23.663v-79.093l19.313-19.313c-1.299 2.961-1.988 6.184-1.988 9.512v88.894c0 13.048 10.615 23.663 23.663 23.663s23.663-10.615 23.663-23.663v-88.894c0-13.048-10.615-23.663-23.663-23.663-3.328 0-6.551.689-9.515 1.991l29.417-29.417h89.495l29.415 29.415c-2.961-1.299-6.184-1.988-9.512-1.988-13.048 0-23.663 10.615-23.663 23.663v88.894c0 13.048 10.615 23.663 23.663 23.663s23.663-10.615 23.663-23.663v-88.894c0-3.328-.689-6.551-1.991-9.515l19.316 19.316v79.093c0 13.048 10.615 23.663 23.663 23.663 13.047 0 23.663-10.615 23.663-23.663v-31.766l34.59 34.589-6.075 33.776c-1.086 6.056-6.342 10.451-12.498 10.451h-88.167c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h21.76l6.242 19.974c2.309 7.388 9.061 12.352 16.801 12.352h23.533c7.74 0 14.492-4.964 16.801-12.352l6.309-20.19c11.974-1.417 21.809-10.465 23.983-22.583l4.229-23.511 2.192 2.192c4.613 4.614 10.672 6.92 16.732 6.919 6.059 0 12.12-2.307 16.732-6.919 4.469-4.469 6.931-10.412 6.931-16.732 0-6.321-2.461-12.263-6.931-16.732l-25.442-25.442 17.822-99.009h13.933c7.478 0 13.561-6.083 13.561-13.561v-20.202c-.003-7.478-6.086-13.561-13.564-13.561zm-214.584-59.012-25.795-7.37c-1.347-.385-2.774-.385-4.121 0l-25.795 7.37v-53.269h55.711zm-150.987 323.869c-.341 1.092-1.339 1.825-2.483 1.825h-23.533c-1.144 0-2.142-.733-2.483-1.825l-4.844-15.5h38.187zm49.819-166.442c0-2.316.902-4.498 2.521-6.123 1.644-1.638 3.825-2.54 6.141-2.54 4.776 0 8.663 3.886 8.663 8.663v88.894c0 4.776-3.886 8.663-8.663 8.663s-8.663-3.886-8.663-8.663v-88.894zm146.626 88.894c0 4.776-3.886 8.663-8.663 8.663s-8.663-3.886-8.663-8.663v-88.894c0-4.776 3.886-8.663 8.663-8.663 2.316 0 4.497.902 6.123 2.521 1.638 1.644 2.54 3.825 2.54 6.141zm75.835 79.374h-23.533c-1.144 0-2.142-.733-2.483-1.825l-4.844-15.5h38.187l-4.844 15.5c-.34 1.091-1.339 1.825-2.483 1.825zm-118.262-243.02c0 3.014.566 5.939 1.636 8.663h-65.045c1.07-2.723 1.636-5.649 1.636-8.663 0-3.363-.917-6.132-2.442-8.663h63.297c.018 2.455.918 5.132.918 8.663zm-244.151 23.662h101.59l-86.093 86.092zm-12.254 147.307c-1.636-1.636-2.537-3.811-2.537-6.125s.901-4.489 2.537-6.125l164.845-164.845c1.636-1.636 3.812-2.537 6.125-2.537s4.489.901 6.125 2.538c1.636 1.636 2.537 3.811 2.537 6.125s-.901 4.489-2.537 6.125l-164.844 164.844c-3.378 3.377-8.873 3.378-12.251 0zm104.881-7.323c0 4.776-3.886 8.663-8.663 8.663s-8.663-3.886-8.663-8.663v-46.768l17.325-17.325v64.093zm258.601 0c0 4.776-3.886 8.663-8.663 8.663s-8.663-3.886-8.663-8.663v-64.093l17.325 17.325v46.768zm90.093 1.198c0 2.313-.901 4.489-2.537 6.125-3.378 3.377-8.873 3.377-12.251 0l-164.845-164.844c-1.636-1.636-2.537-3.812-2.537-6.125s.901-4.489 2.537-6.125 3.812-2.537 6.125-2.537 4.489.901 6.125 2.537l164.845 164.845c1.637 1.635 2.538 3.81 2.538 6.124zm-30.288-55.089-86.093-86.093h101.59zm43.232-101.093h-144.325l-17.325-17.325h161.65z" /></g></g></svg> DANH SÁCH ĐÃ YÊU THÍCH
</h3>
<div class="container mb-3">
    <div class="d-flex row">
        <div class="col-md-12 ml-9">
            <div class="rounded">
                <div class="table-responsive table-borderless">
                    <table class="table table-bordered">
                        <thead style="background-color: #cac9c9">
                            <tr>
                                <th class="text-center">
                                    <div class="toggle-btn">
                                        <div class="inner-circle"></div>
                                    </div>
                                </th>
                                <th class="text-center text-dark" width="140">Tên Sản Phẩm</th>
                                <th class="text-center text-dark" width="140">Ảnh</th>
                                <th class="text-center text-dark">Giá</th>
                                <th class="text-center text-dark">Giá Sale</th>
                                <th class="text-center text-dark">Ngày Yêu Thích</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            @foreach (var item in Model)
                            {
                                <tr class="cell-1 text-center">
                                    <td class="text-center">
                                        <div class="toggle-btn">
                                            <div class="inner-circle"></div>
                                        </div>
                                    </td>
                                    <td class="text-dark">@item.Product.product_name</td>
                                    <td><img src="~/Content/Layout/images/@item.Product.product_image" height="100" width="100" /></td>
                                    <td class="text-dark">@{float price = (float)item.Product.product_price;}@price.ToString("#,##0") ₫</td>
                                    <td class="text-dark">@{float sale = (float)item.Product.product_sale;}@sale.ToString("#,##0") ₫</td>
                                    <td class="text-dark">@item.fa_datereated.Value.ToShortDateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<script>
    $(document).ready(function () {
        $('.toggle-btn').click(function () {
            $(this).toggleClass('active').siblings().removeClass('active');
        });

    });
</script>

