    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }

    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }

    .hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: black;
	margin: 8px 0px;
    }

    .hr-sect::before,
    .hr-sect::after {
	    content: "";
	    flex-grow: 1;
	    background: rgba(0, 0, 0, 0.35);
	    height: 1px;
	    font-size: 0px;
	    line-height: 0px;
	    margin: 0px 8px;
    }
    
    .card {
        padding-top: 20px;
        margin: 10px 0 20px 0;
        background-color: rgba(214, 224, 226, 0.2);
        border-top-width: 0;
        border-bottom-width: 2px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .card .card-heading {
        padding: 0 20px;
        margin: 0;
    }

    .card .card-heading.simple {
        font-size: 20px;
        font-weight: 300;
        color: #777;
        border-bottom: 1px solid #e5e5e5;
    }

    .card .card-heading.image img {
        display: inline-block;
        width: 46px;
        height: 46px;
        margin-right: 15px;
        vertical-align: top;
        border: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    .card .card-heading.image .card-heading-header {
        display: inline-block;
        vertical-align: top;
    }

    .card .card-heading.image .card-heading-header h3 {
        margin: 0;
        font-size: 14px;
        line-height: 16px;
        color: #262626;
    }

    .card .card-heading.image .card-heading-header span {
        font-size: 12px;
        color: #999999;
    }

    .card .card-body {
        padding: 0 20px;
        margin-top: 20px;
    }

    .card .card-media {
        padding: 0 20px;
        margin: 0 -14px;
    }

    .card .card-media img {
        max-width: 100%;
        max-height: 100%;
    }

    .card .card-actions {
        min-height: 30px;
        padding: 0 20px 20px 20px;
        margin: 20px 0 0 0;
    }

    .card .card-comments {
        padding: 20px;
        margin: 0;
        background-color: #f8f8f8;
    }

    .card .card-comments .comments-collapse-toggle {
        padding: 0;
        margin: 0 20px 12px 20px;
    }

    .card .card-comments .comments-collapse-toggle a,
    .card .card-comments .comments-collapse-toggle span {
        padding-right: 5px;
        overflow: hidden;
        font-size: 12px;
        color: #999;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card-comments .media-heading {
        font-size: 13px;
        font-weight: bold;
    }

    .card.people {
        position: relative;
        display: inline-block;
        width: 170px;
        height: 300px;
        padding-top: 0;
        margin-left: 20px;
        overflow: hidden;
        vertical-align: top;
    }

    .card.people:first-child {
        margin-left: 0;
    }

    .card.people .card-top {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 170px;
        height: 150px;
        background-color: #ffffff;
    }

    .card.people .card-top.green {
        background-color: #53a93f;
    }

    .card.people .card-top.blue {
        background-color: #427fed;
    }

    .card.people .card-info {
        position: absolute;
        top: 150px;
        display: inline-block;
        width: 100%;
        height: 101px;
        overflow: hidden;
        background: #ffffff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .card.people .card-info .title {
        display: block;
        margin: 8px 14px 0 14px;
        overflow: hidden;
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        color: #404040;
    }

    .card.people .card-info .desc {
        display: block;
        margin: 8px 14px 0 14px;
        overflow: hidden;
        font-size: 12px;
        line-height: 16px;
        color: #737373;
        text-overflow: ellipsis;
    }

    .card.people .card-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        padding: 10px 20px;
        line-height: 29px;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .card.hovercard {
        position: relative;
        padding-top: 0;
        overflow: hidden;
        text-align: center;
        background-color: rgba(214, 224, 226, 0.2);
    }

    .card.hovercard .cardheader {
        background-size: cover;
        height: 182px;
    }

    .card.hovercard .avatar1 {
        position: relative;
        top: -60px;
        margin-bottom: -50px;
    }

    .card.hovercard .avatar1 img {
        width: 100px;
        height: 100px;
        max-width: 100px;
        max-height: 100px;
        border: 6px solid white;
    }

    .card.hovercard .info {
        padding: 4px 8px 10px;
    }

    .card.hovercard .info .title {
        margin-bottom: 4px;
        font-size: 24px;
        line-height: 1;
        color: #262626;
        vertical-align: middle;
    }

    .card.hovercard .info .desc {
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        color: #737373;
        text-overflow: ellipsis;
    }

    .card.hovercard .bottom {
        padding: 0 20px;
        margin-bottom: 17px;
    }

    .table-bordered > tbody > tr > td:hover{
        box-shadow: 2px 2px 4px 2px #ccc;
    }

    .emp-profile{
        padding: 3%;
        border-radius: 1.5rem;
        background: #fff;
    }
    .profile-img{
        text-align: center;
    }
    .profile-img img{
        width: 70%;
        height: 100%;
    }
    .profile-img .file {
        position: relative;
        overflow: hidden;
        margin-top: -20%;
        width: 70%;
        border: none;
        border-radius: 0;
        font-size: 15px;
        background: #212529b8;
    }
    .profile-img .file input {
        position: absolute;
        opacity: 0;
        right: 0;
        top: 0;
    }
    .profile-head h5{
        color: #333;
    }
    .profile-head h6{
        color: #0062cc;
    }
    .profile-edit-btn{
        border: none;
        border-radius: 1.5rem;
        width: 70%;
        padding: 2%;
        font-weight: 600;
        color: #6c757d;
        cursor: pointer;
    }
    .proile-rating{
        font-size: 12px;
        color: #818182;
        margin-top: 5%;
    }
    .proile-rating span{
        color: #495057;
        font-size: 15px;
        font-weight: 600;
    }
    .profile-head .nav-tabs{
        margin-bottom:5%;
    }
    .profile-head .nav-tabs .nav-link{
        font-weight:600;
        border: none;
    }
    .profile-head .nav-tabs .nav-link.active{
        border: none;
        border-bottom:2px solid #0062cc;
    }
    .profile-work p{
        font-size: 12px;
        color: #818182;
        font-weight: 600;
    }
    .profile-work a{
        text-decoration: none;
        color: #495057;
        font-weight: 600;
        font-size: 14px;
    }
    .profile-work ul{
        list-style: none;
    }
    .profile-tab label1{
        font-weight: 600;
    }
    .profile-tab p{
        font-weight: 600;
        color: #0062cc;
    }
    .bg{
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    }    
    .text-index{
        text-indent: 30px;
    }
    
    .product-new-top1 {
        background: #fc636b;
        color: #fff;
        right: 0;
        top: 0;
        width: 45px;
        font-size: 13px;
        height: 45px;
        text-align: center;
        border-radius: 50%;
        line-height: 3.3;
    }
    
    .product-new-label{
        color:#fff;
        background-color:#e80505;
        font-size:12px;
        text-transform:uppercase;
        padding:5px 8px;
        display:block;
        position:absolute;
        top:0;
        left:0;
        border-bottom-right-radius: 15px;
    }

    .product-new-label1{
        color:#fff;
        background-color:darkblue;
        font-size:12px;
        text-transform:uppercase;
        padding:5px 8px;
        display:block;
        position:absolute;
        top:0;
        left:0;
        border-bottom-right-radius: 15px;
    }

    .product-discount-label1{
        font-size:17px;
        padding:2px 10px;
        position:absolute;
        right:5px;
        top:5px;
        transition:all .3s;
    }
    @-webkit-keyframes my {
        0% { color: #F8CD0A; }
        50% { color: #fff; }
        100% { color: #F8CD0A; }
    }
    @-moz-keyframes my {
        0% { color: #F8CD0A; }
        50% { color: #fff; }
        100% { color: #F8CD0A; }
    }
    @-o-keyframes my {
        0% { color: #F8CD0A; }
        50% { color: #fff; }
        100% { color: #F8CD0A; }
    }
    @keyframes my {
        0% { color: #F8CD0A; }
        50% { color: #fff; }
        100% { color: #F8CD0A; }
    }
    .test {
        font-size:19px;
        font-weight:bold;
        -webkit-animation: my 880ms infinite;
        -moz-animation: my 880ms infinite;
        -o-animation: my 880ms infinite;
        animation: my 880ms infinite;
    }
    .head-style-2 {
        text-align: left;
        position: relative;
        line-height: 2;
        overflow: hidden;   
    }
    .head-style-2::after {
        content: "";
        display: inline-block;
        bottom: .5ex;
        left: .5ex;
        margin-right: -100%;
        width: 100%;
        height: 2.5px;
        position: relative;
        background: #1accfd;
        transition: all 0.3s ease 0s;
    }
    .head-style-2:hover::after {
        left: 2ex;
    }   

    .btn-22 {
      width: 148px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 14px;
    }

    .btn-22 {
      text-decoration: none;
      border: 2px solid #010100;
      padding: 10px;
      color: #000;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: relative;
      display: inline-block;
    }

    .span {
      position: relative;
      z-index: 3;
    }

    .btn-22::before {
      content: "";
      position: absolute;
      top: 5px;
      left: -2px;
      width: calc(100% + 6px);
      height: calc(100% - 10px);
      background-color: #ffffff;
      transition: all 0.5s ease-in-out;
      transform: scaleY(1);
    }

    .btn-22:hover::before {
      transform: scaleY(0);
    }

    .btn-22::after {
      content: "";
      position: absolute;
      left: 5px;
      top: -5px;
      width: calc(100% - 10px);
      height: calc(100% + 10px);
      background-color: #ffffff;
      transition: all 0.5s ease-in-out;
      transform: scaleX(1);
    }

    .btn-22:hover::after {
      transform: scaleX(0);
    }
   
    .layout {
	    width: 100%; height: 100%;
	    position: relative;
	    font-family: 'Arimo', sans-serif;
	    font-size: 16px;
	    line-height: 1.5em;
	    font-weight: 400;
	    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .inner {
	    max-width: 100%;
	    padding: 0 0.5em;
	    padding-top: 0.5em;
	    transition: all 0.3s;
    }

    .grid { margin: 0 0 0 -0.5em; list-style-type: none; transition: all 0.3s }
    .grid:before, .grid:after { content: " "; display: table }
    .grid:after { clear: both }
    .grid-tile {
	    width: 100%;
	    position: relative; float: left;
	    padding: 0 0 0.5em 0.5em;
	    box-sizing: border-box;
	    transition: all 0.3s;
    }

    .item {
	    width: 100%;
        position: relative;
        overflow: hidden;
	    background-color: #fff;
	    border-radius: 15px;
	    border: 2px solid #eee;
	    box-sizing: border-box;
    }

    .item-img {
	    width: 100%;
        padding-bottom: 115%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .item-img:hover {
	    cursor: -webkit-grab; cursor: -moz-grab;
    }

    .item-img:active {
	    cursor: -webkit-grabbing; cursor: -moz-grabbing;
    }


    .item-pnl {
	    /*position: relative;*/
	    width: 100%;
    }

    .pnl-wrapper {
	    width: 100%;
	    height: 60px;
	    display: table;
    }

    .pnl-wrapper > div {
	    display: table-cell;
	    vertical-align: middle;
    }

    .pnl-description {
	    position: relative;
	    padding: 0;
	    padding-left: 0.5em;
    }

    .pnl-label {
	    color: #424346;
	    line-height: 16px;
	    max-height: 2.6em;
	    font-size: 0.75em;
	    overflow: hidden;
	    display: block;
    }

    .pnl-price {
	    line-height: 16px;
	    color: #111;
	    font-weight: 700;
	    font-size: 0.75em;
	    display: block;
	    /*margin-top: 0.125em;*/
    }

    .pnl-ic-wrapper {
	    width: 32px; 
        height: 32px;
	    line-height: 0;
	    position: relative;
	    margin: 0 auto;
	    transform: scale(0.5);
    }

    .pnl-ic-wrapper svg {
        fill: none;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-miterlimit: 4;
        stroke-location: outside;
    }

    .pnl-ic-wrapper1 svg {
        fill: none;
        stroke-width: 8;
        stroke-linecap: round;
        stroke-miterlimit: 4;
        stroke-location: outside;
    }

    .pnl-ic {
	    display: inline-block;
	    vertical-align: middle;
	    width: 100%; height: 100%;
    }

    .pnl-favorites svg {
        stroke: lightseagreen;
    }

    .pnl-favorites {
	    width: 32px;
	    cursor: pointer;
	    position: relative;
    }

    .pnl-tocart svg {
        stroke: #F8CD0A;
    }

    .pnl-tocart1 svg {
        stroke: #ff6a00;
    }

    .pnl-tocart2 svg {
        stroke: green;
    }

    .pnl-tocart3 svg {
        stroke: black;
    }

    .pnl-tocart {
	    width: 32px;
	    cursor: pointer;
	    position: relative;
    }

    .pnl-tocart1 {
	    width: 32px;
	    cursor: pointer;
	    position: relative;
    }

    .pnl-tocart3 {
	    width: 32px;
	    cursor: pointer;
	    position: relative;
    }

    @media screen and (min-width: 320px) {
	    .pnl-wrapper { height: 70px }
	    .pnl-label, .pnl-price { font-size: 1em; line-height: 20px; }
	    .pnl-favorites, .pnl-tocart { width: 56px }
	    .pnl-ic-wrapper { transform: scale(0.75) }
	    .pnl-description { padding-left: 1.0em }
    }


    @media screen and (min-width: 360px) {
	    .inner { padding: 0 1.0em; padding-top: 1.0em }
	    .grid { margin: 0 0 0 -1.0em }
	    .grid-tile { padding: 0 0 1.0em 1.0em }
	    .pnl-description { padding-left: 1.5em }
	    .pnl-wrapper { height: 70px }
    }

    @media screen and (min-width: 480px) {
	    .inner { padding: 0 0.5em; padding-top: 0.5em }
	    .grid { margin: 0 0 0 -0.5em }
	    .grid-tile { padding: 0 0 0.5em 0.5em }
	    .grid-tile { width: 50% }
	    .pnl-wrapper { height: 60px }
	    .pnl-description { padding-left: 0.5em }
	    .pnl-label, .pnl-price { font-size: 0.75em; line-height: 18px; }
	    .pnl-ic-wrapper { transform: scale(0.5) }
	    .pnl-favorites, .pnl-tocart { width: 40px }
    }

    @media (max-height: 26em) {
	    .pnl-wrapper { height: 48px }
	    .grid-tile { width: 33.3333% }
	    .pnl-label { font-size: 0.7em; line-height: 14px; }
	    .pnl-price { font-size: 0.7em; line-height: 14px; }
	    .pnl-favorites { position: absolute; width: 40px; height: 40px; top:0; right: 0 }
	    .pnl-ic-wrapper { transform: scale(0.5) }
    }

    @media screen and (min-width: 600px) {
	    .inner { padding: 0 1.0em; padding-top: 1.0em }
	    .grid { margin: 0 0 0 -1.0em }
	    .grid-tile { padding: 0 0 1.0em 1.0em }
	    .pnl-wrapper { height: 70px }
	    .pnl-label, .pnl-price { font-size: 1em; line-height: 20px; }
	    .pnl-favorites, .pnl-tocart { width: 56px }
	    .pnl-ic-wrapper { transform: scale(0.75) }
	    .pnl-description { padding-left: 1.0em }
    }

    @media screen and (min-width: 768px) {
	    .inner { padding: 0 1.5em; padding-top: 1.5em }
	    .grid { margin: 0 0 0 -1.5em }
	    .grid-tile { padding: 0 0 1.5em 1.5em }
    }

    @media screen and (min-width: 912px) {
	
    }

    @media screen and (min-width: 1024px) {
	    .grid-tile { width: 20% }
    }

    @media screen and (min-width: 1300px) {
	    .pnl-description { padding-left: 1.5em }
    }

    @media screen and (min-width: 1440px) {
	    .inner { width: 1400px; margin: 0 auto }
    }

    @media screen and (min-width: 1024px) {
        .wrapper {
            display: flex;
            flex-flow: row wrap;
            font-weight: bold;
            text-align: center;
            width: 25%;
        }
    }

    p {
      text-align: center;
      margin-bottom:60px;
    }

    h4{
      text-align:center; 
      line-height:80px;
      font-weight:normal;

    }

    .masonry { /* Masonry container */
        -webkit-column-count: 4;
      -moz-column-count:4;
      column-count: 4;
      -webkit-column-gap: 1em;
      -moz-column-gap: 1em;
      column-gap: 1em;
       margin: 1.5em;
        padding: 0;
        -moz-column-gap: 1.5em;
        -webkit-column-gap: 1.5em;
        column-gap: 1.5em;
        font-size: .85em;
    }
    .item1 {
        background: #fff;
        padding: 1em;
        margin: 0 0 1.5em;
        width: 100%;
	    -webkit-transition:1s ease all;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-shadow: 2px 2px 4px 2px #ccc;
        border-radius: 15px;
        border: 1px solid #ccc;
    }
    .item1 img{max-width:100%;}

    @media only screen and (max-width: 320px) {
        .masonry {
            -moz-column-count: 1;
            -webkit-column-count: 1;
            column-count: 1;
        }
    }

    @media only screen and (min-width: 321px) and (max-width: 768px){
        .masonry {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 1200px){
        .masonry {
            -moz-column-count: 3;
            -webkit-column-count: 3;
            column-count: 3;
        }
    }
    @media only screen and (min-width: 1201px) {
        .masonry {
            -moz-column-count: 4;
            -webkit-column-count: 4;
            column-count: 4;
        }
    }

    .product-new-top3 {
        background: #ffff00;
        color: #ff0303;
        right: 98px;
        position: absolute;
        top: -20px;
        width: 45px;
        font-size: 13px;
        height: 45px;
        text-align: center;
        border-radius: 50%;
        line-height: 3.3;
        display: block;
    }

    .blink {
      animation: blink-animation 1s steps(5, start) infinite;
      -webkit-animation: blink-animation 1s steps(5, start) infinite;
    }

    @keyframes blink-animation {
      to {
        visibility: hidden;
      }
    }

    @-webkit-keyframes blink-animation {
      to {
        visibility: hidden;
      }
    }
    /* Reset */ 

    *, 
    :after, 
    :before {
      box-sizing: border-box;
    }

    body {
     font-family: 'Lato', sans-serif;
    }

    figure {
      margin: 0;
      padding: 0;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

    /* reset end */ 

    /* Text */
    .text {
      font-size:  14px;
      font-weight: normal;
      line-height: 24px;
      color: #333;
    }

    /* Price */

    .price {
      font-size: 28px;
      font-weight: bold;
      line-height: 32px;
      color: #C92414;
    }

    .price-strikethrough {
      font-size: 16px;
      line-height: 18px;
      color: #333333;
      text-decoration: line-through;
    }

    /* Icon */
    .icon1 {
      display: inline-block;
      width: 1em;
      height: 1em;
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
    }

    /* Rating stars */

    .rating-star1 {
      color: #FFB31A;
      fill : #FFB31A;
    }

    /* rating count */
    .rating-count {
      font-size:14px;
      vertical-align: text-top;  
    }

    /* Label */
    .label1 {
      border: 1px solid transparent;
      border-radius: 3px;
      padding: 3px 10px;
      font-size: 12px;
      font-weight: bold;
    }

    .best-seller-label {
      position: absolute;
      top: 16px;
      left: 16px;
      background-color: #992E75;
      color: white;
    }

    /* overlay-bar */
    .overlay-bar {
      background-color: rgba(255,255,255,0.7);
      padding: 4px 0;
    }

    /* Pill */
    .pill {
      display: inline-block;
      border-top: 1px solid #C92414;
      border-right: 1px solid #C92414;
      border-bottom: 1px solid #C92414;
      border-left: 5px solid #C92414;
      border-radius: 3px;
      padding: 3px 5px;
      font-size: 12px;
    }

    /* Block */
    .card {
      background-color: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    }

    /* Elements */
    .card__image {
      position: relative;
      font-size: 0;
    }

    .card__content {
      padding: 8px 16px;
    }

    .card__footer {
      border: 1px solid #E5E2DD;
      display: flex;
      align-items: center;
      text-align: center;
      height: 41px;
    }

    /* Block */
    .product-card {
      max-width: 298px;
    }

    /* Elements */
    .product-card__logo {
      width: 42px;
      height: 42px;
    }

    .product-card__title {
      word-wrap: break-word;
      margin-bottom: 11px;
    }

    .product-card__prices {
      margin-bottom: 12px;
    }

    .product-card__bar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 13px;
      text-align: center;
      color: #4A1639;
    }

    .product-card__rating {
      flex-grow: 1;
    }

    .product-card__favourite {
        background-color: #E5E2DD;
        min-width: 41px;
        padding: 10px 0;     
    }

    .svg {
        color: #333;
        fill: #333;
        stroke-width: 2px;
    }

    .thumbs img {
        width: 100px;
    }

    .full-image {
        width: 400px;
        height: 300px;
        margin-bottom: 10px;
    }

    .collection-product {
        background: #f5f5f5;
        font-size: 20px;
    }

    .collection-product .collection-product-banner {
        max-width: 1440px;
        width: 1440px;
        height: 120px;
        margin: 0 auto;
        color: #fff;
        font-family: Roboto-Medium;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .collection-product .collection-product-banner .subtitle {
        font-size: 16px;
        line-height: 20px;
        height: 20px;
    }

    .collection-product .collection-product-banner .title {
        font-size: 28px;
        padding-top: 32px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }

    .pill1 {
        display: inline-block;
        border-top: 1px solid #C92414;
        border-right: 1px solid #C92414;
        border-bottom: 1px solid #C92414;
        border-left: 5px solid #C92414;
        border-radius: 3px;
        padding: 3px 5px;
        font-size: 9px;
    }

    .card-jfy-load-more {
        padding-top: 20px;
        padding-bottom: 9px;
        clear: both;
    }

    .card-jfy-load-more .button {
        margin: 0 auto;
        display: block;
        width: 387px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        border: 1px solid #11cdef;
        text-transform: uppercase;
        cursor: pointer;
    }

    .card-jfy-load-more .button1 {
        margin: 0 auto;
        display: block;
        width: 242px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        border: 1px solid #fe5e09;
        text-transform: uppercase;
        cursor: pointer;
    }
    #gallery_01 img {
        border: 2px solid white;
    }

    .active img {
        border: 2px solid #333 !important;
    }






   









