    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }

    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }

    .hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: black;
	margin: 8px 0px;
    }
    .hr-sect::before,
    .hr-sect::after {
	    content: "";
	    flex-grow: 1;
	    background: rgba(0, 0, 0, 0.35);
	    height: 1px;
	    font-size: 0px;
	    line-height: 0px;
	    margin: 0px 8px;
    }
    .card {
        font-size: 1em;
        overflow: hidden;
        padding: 0;
        border: none;
        border-radius: .28571429rem;
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    }

    .card-block {
        font-size: 1em;
        position: relative;
        margin: 0;
        padding: 2em;
        border: none;
        border-top: 1px solid rgba(34, 36, 38, .1);
        box-shadow: none;
    }

    .card-img-top {
        display: block;
        width: 100%;
        height: auto;
    }

    .card-title {
        font-size: 1.28571429em;
        font-weight: 700;
        line-height: 1.2857em;
    }

    .card-text {
        clear: both;
        margin-top: .5em;
        color: rgba(0, 0, 0, .68);
    }

    .card-footer {
        font-size: 1em;
        position: static;
        top: 0;
        left: 0;
        max-width: 100%;
        padding: .75em 1em;
        color: rgba(0, 0, 0, .4);
        border-top: 1px solid rgba(0, 0, 0, .05) !important;
        background: #fff;
    }

    .card-inverse .btn {
        border: 1px solid rgba(0, 0, 0, .05);
    }

    .profile {
        position: absolute;
        top: -48px;
        display: inline-block;
        overflow: hidden;
        box-sizing: border-box;
        width: 55px;
        height: 55px;
        border: 1px solid #fff;
    }

    .profile-avatar {
        display: block;
        width: 100%;
        height: 100%;
    }

    .profile-inline {
        position: relative;
        top: 0;
        display: inline-block;
    }

    .profile-inline ~ .card-title {
        display: inline-block;
        margin-left: 4px;
        vertical-align: top;
    }

    .text-bold {
        font-weight: 700;
    }

    .meta {
        font-size: 1em;
        color: rgba(0, 0, 0, .4);
    }

    .meta a {
        text-decoration: none;
        color: rgba(0, 0, 0, .4);
    }

    .meta a:hover {
        color: rgba(0, 0, 0, .87);
    }

    .table-bordered > tbody > tr > td:hover{
        background-color: gainsboro;
    }

    .emp-profile{
        padding: 3%;
        border-radius: 1.5rem;
        background: #fff;
    }
    .profile-img{
        text-align: center;
    }
    .profile-img img{
        width: 70%;
        height: 100%;
    }
    .profile-img .file {
        position: relative;
        overflow: hidden;
        margin-top: -20%;
        width: 70%;
        border: none;
        border-radius: 0;
        font-size: 15px;
        background: #212529b8;
    }
    .profile-img .file input {
        position: absolute;
        opacity: 0;
        right: 0;
        top: 0;
    }
    .profile-head h5{
        color: #333;
    }
    .profile-head h6{
        color: #0062cc;
    }
    .profile-edit-btn{
        border: none;
        border-radius: 1.5rem;
        width: 70%;
        padding: 2%;
        font-weight: 600;
        color: #6c757d;
        cursor: pointer;
    }
    .proile-rating{
        font-size: 12px;
        color: #818182;
        margin-top: 5%;
    }
    .proile-rating span{
        color: #495057;
        font-size: 15px;
        font-weight: 600;
    }
    .profile-head .nav-tabs{
        margin-bottom:5%;
    }
    .profile-head .nav-tabs .nav-link{
        font-weight:600;
        border: none;
    }
    .profile-head .nav-tabs .nav-link.active{
        border: none;
        border-bottom:2px solid #0062cc;
    }
    .profile-work p{
        font-size: 12px;
        color: #818182;
        font-weight: 600;
    }
    .profile-work a{
        text-decoration: none;
        color: #495057;
        font-weight: 600;
        font-size: 14px;
    }
    .profile-work ul{
        list-style: none;
    }
    .profile-tab label{
        font-weight: 600;
    }
    .profile-tab p{
        font-weight: 600;
        color: #0062cc;
    }
    .bg{
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    }    
    .text-index{
        text-indent: 30px;
    }
    @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
    @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
    figure.snip1278 {
      font-family: 'Raleway', Arial, sans-serif;
      position: relative;
      overflow: hidden;
      margin: 10px;
      min-width: 230px;
      max-width: 256px;
      width: 100%;
      color: #ffffff;
      text-align: center;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      height: 330px;
      border: 2px solid black;
    }
    figure.snip1278 * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
      transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    }
    figure.snip1278 .image {
      background-color: #000000;
      width: 100%;
      overflow: hidden;
    }
    figure.snip1278 .image:after {
      background-color: rgba(0, 0, 0, 0.84);
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      left: 48%;
      bottom: 0;
    }
    figure.snip1278 img {
      max-width: 100%;
      vertical-align: top;
      height: 326px;
    }
    figure.snip1278 figcaption {
      position: absolute;
      width: 54%;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 10px 25px;
    }
    figure.snip1278 h4,
    figure.snip1278 p,
    figure.snip1278 .price {
      margin: 0 0 8px;
    }
    figure.snip1278 h4 {
      position: absolute;
      width: 50%;
      top: 10px;
      text-transform: uppercase;
      font-weight: 400;
      color: #ffffff;
      letter-spacing: 1px;
      z-index: 1;
    }
    figure.snip1278 p {
      font-size: 0.7em;
      font-weight: 500;
      line-height: 1.6em;
    }
    figure.snip1278 .rating {
      position: absolute;
      width: 50%;
      line-height: 44px;
      color: #ffffff;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }
    figure.snip1278 .price {
      color: #ffffff;
      font-size: 1.3em;
      opacity: 0.8;
    }
    figure.snip1278 .price s {
      display: inline-block;
      padding: 0 8px 0 0;
      font-size: 0.85em;
      color: #f39c12;
    }
    figure.snip1278 .add-to-cart {
      text-decoration: none;
      position: absolute;
      bottom: 0;
      right: 0;
      font-weight: 600;
      width: 50%;
      background-color: rgba(0, 0, 0, 0.2);
      line-height: 44px;
      font-size: 0.75em;
      text-transform: uppercase;
      color: #ffffff;
    }
    figure.snip1278:hover img,
    figure.snip1278.hover img {
      opacity: 0.6;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    figure.snip1278:hover .add-to-cart,
    figure.snip1278.hover .add-to-cart {
      background-color: rgba(0, 0, 0, 0.5);
    }
    .product-new-top1 {
        background: #fc636b;
        color: #fff;
        right: 0;
        top: 0;
        width: 45px;
        font-size: 13px;
        height: 45px;
        text-align: center;
        border-radius: 50%;
        line-height: 3.3;
    }
    
    .product-new-label{
        color:#fff;
        background-color:#e80505;
        font-size:12px;
        text-transform:uppercase;
        padding:5px 8px;display:block;
        position:absolute;
        top:10px;
        left:0;
    }
    @-webkit-keyframes my {
        0% { color: #F8CD0A; }
        50% { color: #fff; }
        100% { color: #F8CD0A; }
    }
    @-moz-keyframes my {
        0% { color: #F8CD0A; }
        50% { color: #fff; }
        100% { color: #F8CD0A; }
    }
    @-o-keyframes my {
        0% { color: #F8CD0A; }
        50% { color: #fff; }
        100% { color: #F8CD0A; }
    }
    @keyframes my {
        0% { color: #F8CD0A; }
        50% { color: #fff; }
        100% { color: #F8CD0A; }
    }
    .test {
        font-size:19px;
        font-weight:bold;
        -webkit-animation: my 880ms infinite;
        -moz-animation: my 880ms infinite;
        -o-animation: my 880ms infinite;
        animation: my 880ms infinite;
    }
    .head-style-2 {
        text-align: left;
        position: relative;
        line-height: 2;
        overflow: hidden;   
    }
    .head-style-2::after {
        content: "";
        display: inline-block;
        bottom: .5ex;
        left: .5ex;
        margin-right: -100%;
        width: 100%;
        height: 2.5px;
        position: relative;
        background: #1accfd;
        transition: all 0.3s ease 0s;
    }
    .head-style-2:hover::after {
        left: 2ex;
    }   
    @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
    @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
    .snip1418 {
      position: relative;
      overflow: hidden;
      margin: 10px;
      min-width: 230px;
      max-width: 260px;
      width: 100%;
      background: #ffffff;
      text-align: left;
      color: #000000;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      font-size: 16px;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-perspective: 20em;
      perspective: 20em;
    }
    .snip1418 * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    .snip1418 img {
      max-width: 100%;
      vertical-align: top;
      position: relative;
    }
    .snip1418 .add-to-cart {
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 10px;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1em;
      opacity: 0;
      background-color: #409ad5;
      -webkit-transform: rotateX(-90deg);
      transform: rotateX(-90deg);
      -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
      transform-origin: 100% 0;
    }
    .snip1418 .add-to-cart i {
      display: inline-block;
      margin-right: 10px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      background-color: #164666;
      color: #ffffff;
      font-size: 1.4em;
    }
    .snip1418 figcaption {
      padding: 20px;
    }
    .snip1418 h3,
    .snip1418 p {
      margin: 0;
    }
    .snip1418 h3 {
      font-size: 1.5em;
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    .snip1418 p {
      font-size: 0.9em;
      letter-spacing: 1px;
      font-weight: 400;
    }
    .snip1418 .price {
      font-weight: 500;
      font-size: 1.5em;
      line-height: 48px;
      letter-spacing: 1px;
    }
    .snip1418 .price s {
      margin-right: 5px;
      opacity: 0.5;
      font-size: 0.9em;
    }
    .snip1418 a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .snip1418:hover .add-to-cart,
    .snip1418.hover .add-to-cart {
      opacity: 1;
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
    }
    .snip1418:hover .add-to-cart i,
    .snip1418.hover .add-to-cart i {
      background-color: #2980b9;
    }




