@using Website_GSshop.Models

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-gap {
        padding-top: 70px;
    }

    .breadcrumb {
        padding: 0px;
        background: #D4D4D4;
        list-style: none;
        overflow: hidden;
        width: 100%;
    }

    .breadcrumb {
        padding: 0px;
        background: #D4D4D4;
        list-style: none;
        overflow: hidden;
        width: 100%;
    }

        .breadcrumb > li + li:before {
            padding: 0;
        }

        .breadcrumb li {
            float: left;
        }

            .breadcrumb li.active a {
                background: brown;
                background: #ffc107;
            }

            .breadcrumb li.completed a {
                background: brown;
                background: hsla(153, 57%, 51%, 1);
            }

            .breadcrumb li.active a:after {
                border-left: 30px solid #ffc107;
            }

            .breadcrumb li.completed a:after {
                border-left: 30px solid hsla(153, 57%, 51%, 1);
            }

            .breadcrumb li a {
                color: black;
                text-decoration: none;
                padding: 10px 0 10px 45px;
                position: relative;
                display: block;
                float: left;
            }

                .breadcrumb li a:after {
                    content: " ";
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 50px solid transparent;
                    border-bottom: 50px solid transparent;
                    border-left: 30px solid hsla(0, 0%, 83%, 1);
                    position: absolute;
                    top: 50%;
                    margin-top: -50px;
                    left: 100%;
                    z-index: 2;
                }

                .breadcrumb li a:before {
                    content: " ";
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 50px solid transparent;
                    border-bottom: 50px solid transparent;
                    border-left: 30px solid white;
                    position: absolute;
                    top: 50%;
                    margin-top: -50px;
                    margin-left: 1px;
                    left: 100%;
                    z-index: 1;
                }

            .breadcrumb li:first-child a {
                padding-left: 15px;
            }

            .breadcrumb li a:hover {
                background: #ffc107;
            }

                .breadcrumb li a:hover:after {
                    border-left-color: #ffc107 !important;
                }
</style>
<br />
<div class="container">
    <div class="row">
        <ul class="breadcrumb">
            <li class="completed"><a href=""><i class="fa fa-home"></i> Trang Chủ</a></li>
            <li class="active"><a><span style="font-weight: bold">Thay Đổi Mật Khẩu</span></a></li>
        </ul>
    </div>
</div>
<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h3><i class="fa fa-lock-open fa-5x img-fluid text-success"></i></h3>
        </div>
        <div class="col-md-10" style="padding-top:100px">
            <br />
            <h2 style="font-family: 'Segoe UI'">THAY ĐỔI MẬT KHẨU</h2>
            <h5 class="alter alert-danger" style="width: 60%; font-family: 'Segoe UI'">Mật khẩu được cập nhật ngay sau khi bạn thay đổi.</h5>
            <br />
            <form target="_blank" class="mt-3" method="post" action="/Account/SendEmail">
                <input type="password" name="mkmoi" class="form-control form-control-lg" placeholder="Nhập mật khẩu mới" id="forgetAnswer" required="">
                <br />
                <input type="password" name="xnmk" class="form-control form-control-lg" placeholder="Nhập lại mật khẩu" id="forgetAnswer" required="">
                <div class="text-right my-3">
                    <button type="submit" class="btn btn-lg btn-success">THAY ĐỔI <i class="far fa-paper-plane"></i></button>
                </div>
            </form>
            <h4 style="color:green; font-family: 'Segoe UI'">@ViewBag.Sucess</h4>
            <h4 style="color:red; font-family: 'Segoe UI'">@ViewBag.Fail</h4>
            <hr />
        </div>
    </div>
</div>
