@using Website_GSshop.Models;
@model List<Seller>
@{
    ViewBag.Title = "LoginSeller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/CSS/login.css" rel="stylesheet" />
<div class="container-fluid mb-3" style="background-color: #f9f9f9">
    <div class="tab_container mt-5 mb-5">
        <input class="input" id="tab1" type="radio" name="tabs" checked>
        <label class="label1" for="tab1"><i class="fa fa-sign-in"></i><span>ĐĂNG NHẬP</span></label>
        <input class="input" id="tab2" type="radio" name="tabs">
        <label class="label1" for="tab2"><i class="fa fa-user-plus"></i><span>ĐĂNG KÝ</span></label>
        <input class="input" id="tab3" type="radio" name="tabs">
        <label class="label1" for="tab3"><i class="fa fa-key"></i><span>QUÊN MẬT KHẨU</span></label>
        <!--Đăng nhập-->
        <section id="content1" class="tab-content section">
            <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 mx-auto">
                <div class="card0 border-0">
                    <div class="row d-flex">
                        <div class="col-md-5">
                            <div class="card1 pb-5">
                                <div class="row px-3 justify-content-center mt-6 mb-5">
                                    <img src="~/Content/Layout/images/nguoiban.png" height="400" width="400" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card2 card border-0 px-4 py-5">
                                <h3 class="mb-1 text-dark">Chào mừng đến với idlecat Shop.<br /> Đăng nhập ngay!</h3>
                                <p class="mb-4 text-sm">Thành viên mới?  <a class="text-primary login">Đăng ký</a> tại đây.</p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="google"><span class="fa fa-google"></span><small class="pl-3 pr-1">Sign up with google</small></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="fb1"><span class="fa fa-facebook fa-facebook1"></span><small class="pl-3 pr-1">Sign up with facebook</small></div>
                                    </div>
                                </div>
                                <div class="row px-3 mt-1">
                                    <div class="line"></div> <small class="text-muted or text-center">OR</small>
                                    <div class="line"></div>
                                </div>
                                <form class="ui form segment" role="form" method="post" action="@Url.Action("LoginSeller","Account")" style="border: none; box-shadow: none">
                                    <div class="field">
                                        <label>Email</label>
                                        <input class="input1" type="text" name="seller_email">
                                    </div>
                                    <div class="field">
                                        <label>Mật khẩu</label>
                                        <input class="input1" type="password" name="seller_pass">
                                    </div>
                                    <div id="testlogin"></div>
                                    <div class="row mb-4">
                                        <div class="col-md-5"> <button class="ui btn btn-blue button3 text-center mb-1">ĐĂNG NHẬP</button> </div>
                                        <div class="col-md-7 text-right"><a href="#"><u>Quên mật khẩu?</u></a></div>
                                        <div class="ui error message" style="width: 100%; min-height: 10vh;"></div>
                                    </div>
                                    @Html.Raw(Session["testsellerlogin"])
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//Đăng nhập-->
        <!--Đăng ký-->
        <section id="content2" class="tab-content section">
            <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 mx-auto">
                <div class="card0 border-0">
                    <div class="row d-flex">
                        <div class="col-md-5">
                            <div class="card1 pb-5">
                                <div class="row px-3 justify-content-center mt-6 mb-5">
                                    <img src="~/Content/Layout/images/nguoiban.png" height="400" width="400" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card2 card border-0 px-4 py-5">
                                <h3 class="mb-1 text-dark">Chào mừng đến với idlecat Shop.<br /> Đăng ký ngay!</h3>
                                <div class="row mt-4">
                                    <div class="col-sm-6">
                                        <div class="google"><span class="fa fa-google"></span><small class="pl-3 pr-1">Sign up with google</small></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="fb1"><span class="fa fa-facebook fa-facebook1"></span><small class="pl-3 pr-1">Sign up with facebook</small></div>
                                    </div>
                                </div>
                                <div class="row px-3 mt-1">
                                    <div class="line"></div> <small class="text-muted or text-center">OR</small>
                                    <div class="line"></div>
                                </div>
                                <form class="ui form segment" role="form" method="post" action="@Url.Action("SignUpSeller","Account")" style="border: none; box-shadow: none">
                                    <div class="two fields">
                                        <div class="field">
                                            <label>Tên shop</label>
                                            <input class="input1" type="text" name="seller_nameshop">
                                        </div>
                                        <div class="field">
                                            <label>Số điện thoại</label>
                                            <input class="input1" type="text" name="seller_telephone">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>Email</label>
                                        <input class="input1" type="text" name="seller_email">
                                    </div>
                                    <div class="field">
                                        <label>Mật khẩu</label>
                                        <input class="input1" type="password" name="seller_pass" id="seller_pass">
                                    </div>
                                    <div class="field">
                                        <label>Nhập lại mật khẩu</label>
                                        <input class="input1" type="password" name="seller_repeat" id="seller_repeat">
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-md-5"> <button class="btn btn-blue button3 text-center mb-1">ĐĂNG KÝ</button> </div>
                                        <div class="ui error message" style="width: 100%; min-height: 10vh;"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//Đăng ký-->
        <!--Quên mật khẩu-->
        <section id="content3" class="tab-content section">
            <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 mx-auto">
                <div class="card0 border-0">
                    <div class="row d-flex">
                        <div class="col-md-5">
                            <div class="card1 pb-5">
                                <div class="row px-3 justify-content-center mt-3 mb-5">
                                    <img src="~/Content/Layout/images/forgot.jpg" height="400" width="500" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card2 card border-0 px-4 py-5">
                                <h3 class="mb-1 text-dark">Nhập email/gmail để thay đổi <br /> mật khẩu mới.</h3>
                                <div class="row px-3 mt-2">
                                    <label class="mb-0">
                                        <span class="mb-0 text-sm text-dark">Email</span>
                                    </label> <input class="input1" type="email" name="email">
                                </div>
                                <div class="col-md-5 float-right"> <button class="btn btn-blue button3 text-center mb-1">LẤY LẠI MẬT KHẨU</button> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//Quên mật khẩu-->
    </div>
</div>


