<div class="footer-info w3-agileits-info" style="padding: 0px 0px">
    <!-- footer categories -->
    <div class="col-sm-5 address-right">
        <div class="col-xs-6 footer-grids">
            <a class="footer__brand-anchor" href="#" title="Home">
                <svg class="footer__brand-logo brand-logo brand-logo--dark">
                    <use xlink:href="#brand-logo"></use>
                </svg>
            </a>
            <div class="mt-2">
                <img class="img-responsive center-block" src="//d35uzl96cmnmq2.cloudfront.net/homepage-free-shipping-banner-compressed-20180119183437.jpg" alt="Homepage - Free Shipping Banner - Compressed">
            </div>
        </div>
        <div class="col-xs-6 footer-grids">
            <h3>CATEGORIES</h3>
            <ul class="ml-2">
                <li>
                    <a href="product.html">Snacks & Beverages</a>
                </li>
                <li>
                    <a href="product.html">Bread & Bakery</a>
                </li>
                <li>
                    <a href="product.html">Sweets</a>
                </li>
                <li>
                    <a href="product.html">Chocolates & Biscuits</a>
                </li>
                <li>
                    <a href="product2.html">Personal Care</a>
                </li>
                <li>
                    <a href="product.html">Dried Fruits & Nuts</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //footer categories -->
    <!-- quick links -->
    <div class="col-sm-5 address-right">
        <div class="col-xs-12 footer-grids">
            <h3>CONTACT US</h3>
            <ul class="ml-2">
                <li>
                    <i class="fa fa-map-marker"></i> 06 Trần Văn Ơn, phường Phú Hòa, TP.Thủ Dầu Một, tỉnh Bình Dương
                </li>
                <li>
                    <i class="fa fa-clock-o"></i> 8:00 AM - 10:00 PM
                </li>
                <li>
                    <i class="fa fa-mobile"></i> 0869 139 879
                </li>
                <li>
                    <i class="fa fa-envelope-o"></i>
                    <a href="mailto:vuongbaot1905@mail.com"> vuongbaot1905@gmail.com</a>
                </li>
                <li class="mt-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.771910464706!2d106.67239731407062!3d10.9805814921832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d12739baa5ed%3A0xf500a5c3425a73a3!2zxJDhuqFpIGjhu41jIFRo4bunIEThuqd1IE3hu5l0!5e0!3m2!1svi!2s!4v1602910608348!5m2!1svi!2s" width="460" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </li>
            </ul>
        </div>
    </div>
    <!-- //quick links -->
    <!-- social icons -->
    <div class="col-sm-2 footer-grids w3l-socialmk">
        <h3>FOLLOW US ON</h3>
        <div class="social">
            <ul>
                <li>
                    <a class="icon fb" href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="icon tw" href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a class="icon gp" href="#">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="agileits_app-devices">
            <h5>Download the App</h5>
            <a href="#">
                <img src="~/Content/Layout/images/1.png" alt="">
            </a>
            <a href="#">
                <img src="~/Content/Layout/images/2.png" alt="">
            </a>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //social icons -->
    <div class="clearfix"></div>
    <!-- payment -->
    <div class="agile-sometext ml-4">
        <div class="sub-some child-momu">
            <h3>PAYMENT METHOD</h3>
            <ul>
                <li>
                    <img src="~/Content/Layout/images/pay2.png" alt="">
                </li>
                <li>
                    <img src="~/Content/Layout/images/pay5.png" alt="">
                </li>
                <li>
                    <img src="~/Content/Layout/images/pay1.png" alt="">
                </li>
                <li>
                    <img src="~/Content/Layout/images/pay4.png" alt="">
                </li>
                <li>
                    <img src="~/Content/Layout/images/pay6.png" alt="">
                </li>
                <li>
                    <img src="~/Content/Layout/images/pay3.png" alt="">
                </li>
                <li>
                    <img src="~/Content/Layout/images/pay7.png" alt="">
                </li>
                <li>
                    <img src="~/Content/Layout/images/pay8.png" alt="">
                </li>
                <li>
                    <img src="~/Content/Layout/images/pay9.png" alt="">
                </li>
            </ul>
        </div>
        <br />
        <br />
    </div>
    <!-- //payment -->
</div>
<!-- copyright -->
<div class="copy-right">
    <div class="container">
        <p>
            © 2020 idlecat. All rights reserved | Design by
            <a href="/Display/Index"> idlecat.</a>
        </p>
    </div>
</div>
<!-- //copyright -->