<!-- top-header -->
<div class="header-most-top col-md-12 header" style="position: sticky; position: -webkit-sticky; top: 0px; background-color: #1accfd !important; z-index: 1000000">
    <ul style="text-align: center">
        <li style=" border-right: none">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog1">
                <span aria-hidden="true"></span>TIẾT KIỆM HƠN VỚI ỨNG DỤNG
            </a>
        </li>
        <li style=" border-right: none">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog1">
                <span aria-hidden="true"></span>BÁNG HÀNG CÙNG GS
            </a>
        </li>
        <li class="dropdown" style=" border-right: none">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span aria-hidden="true"></span>CHĂM SÓC KHÁCH HÀNG
            </a>
            <ul class="dropdown-menu">
                <li style="width: 100%; text-align: unset"><a href="/user/preferences"><i class="fa fa-users"></i> Trung tâm hỗ trợ</a></li>
                <li style="width: 100%; text-align: unset"><a href="/user/preferences"><i class="fa fa-shopping-cart"></i> Đơn hàng & Thanh toán</a></li>
                <li style="width: 100%; text-align: unset"><a href="/user/preferences"><i class="fa fa-truck"></i> Giao hàng & Nhận hàng</a></li>
                <li style="width: 100%; text-align: unset"><a href="/user/preferences"><i class="fa fa-archive"></i> Đổi trả hàng & Hoàn tiền</a></li>
                <li style="width: 100%; text-align: unset"><a href="/user/preferences"><i class="fa fa-users"></i> Liên hệ với GS Shop</a></li>
            </ul>
        </li>
        <li style=" border-right: none">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog1">
                <span aria-hidden="true"></span>KIỂM TRA ĐƠN HÀNG
            </a>
        </li>
        <li class="dropdown" style=" border-right: none">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span aria-hidden="true"></span>CHANGE LANGUAGE
            </a>
            <ul class="dropdown-menu w-25 ml-6">
                <li style="width: 100%; text-align: unset"><center><i class="vn flag"></i> VN / Tiếng Việt</center></li>
                <li style="width: 100%; text-align: unset"><center><i class="gb uk flag"></i> EN / English</center></li>
            </ul>
        </li>
    </ul>
</div>
<!-- //top-header -->
