@using Website_GSshop.Models
@model List<Category>
<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
    @foreach (var item in Model)
    {
        <li class="dropdown-submenu">
            <a tabindex="-1" href="#">@item.category_name</a>
            <ul class="dropdown-menu">
                @foreach (var item1 in item.SubCategory)
                {
                    if (item1.subcategory_active == true)
                    {
                        <li class="dropdown-submenu">
                            <a href="#">@item1.subcategory_name</a>
                            <ul class="dropdown-menu">
                                @foreach (var item2 in item1.ClassificationSubCategory)
                                {
                                    <li><a href="#">@item2.csc_name</a></li>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a tabindex="-1" href="#">@item1.subcategory_name</a></li>
                    }
                }
            </ul>
        </li>
        <li class="divider"></li>
    }
</ul>



