@using Website_GSshop.Models
@model List<Product>
<div class="container-fluid">
    <h2 class="article-list__heading"><img src="~/Content/Layout/images/icons8-fire-48.png" width="40" /><a href="#">Danh mục hàng</a></h2>
</div>
<div class="container-fluid">
    <br />
    <table class="table table-bordered">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @for (var j = 0; j < 8; j++)
                    {
                        <td>
                            <div class="product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <span class="product-new-top3"><b class="blink">New</b></span>
                                        <img src="~/Content/Layout/images/@item.product_image" alt="" style="height: 100px ;width: 100px" />
                                    </div>
                                    <div class="item-info-product ">
                                        <h4>
                                            <a href="@Url.Action("CategoriesDetail","View", new {@id = item.product_id})">@item.product_name</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
