@using Website_GSshop.Models
@model List<Product>
<div class="container-fluid">
    <h2 class="article-list__heading"><img src="~/Content/Layout/images/icons8-fire-48.png" width="40" /><a href="#">Danh mục hàng</a></h2>
</div>
<div class="container-fluid">
    <div class="container-fluid" style="background-color: #f9f9f9">
        <div class="container-fluid">
            <nav class="mt-4">
                <ul class="menu-categories row">
                    @foreach (var item in Model.Take(12))
                    {
                        <li class="li col-lg-2">
                            <a class="a" href="@Url.Action("CategoryDetail","View", new {id = item.product_id})">
                                <img class="mt-2" src="~/Content/Layout/images/@item.product_image" style="height: 130px; width: 130px">
                                <br />
                                <span class="text-dark">@item.product_name</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <br />
    </div>
</div>
<br />

