@using Website_GSshop.Models
@model List<Collection>
@{ 
    Data_GSShopEntities db = new Data_GSShopEntities();
}
<div class="container-fluid">
    <h2 class="article-list__heading"><img src="~/Content/Layout/images/icons8-fire-48.png" width="40" /><a href="#">Bộ sưu tập</a></h2>
</div>
<center>
    <div class="container-fluid">
        <div class="container-fluid" style="background-color: #f9f9f9">
            <div class="masonry">
                @foreach (var item in Model)
                {
                    <div class="item1">
                        <center>
                            <a href="@Url.Action("CollectionsDetail","View", new {id = item.collection_id})"><span style="color: black">@item.collection_name ></span></a>
                            <br />
                            @{
                                List<Product> products = db.Product.Where(n => n.collection_id == item.collection_id && n.product_bin == true && n.product_active == true && n.product_percent > 60).ToList();
                            }
                            <small>@products.Count sp</small>
                            <br />
                            <br />
                        </center>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <img src="~/Content/Layout/images/@item.collection_image1" class="img-collections">
                                </div>
                                <div class="col-md-4">
                                    <img src="~/Content/Layout/images/@item.collection_image2" class="img-collections">
                                </div>
                                <div class="col-md-4">
                                    <img src="~/Content/Layout/images/@item.collection_image3" class="img-collections">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>       
    </div>
</center>
<br />
<br />
