@using Website_GSshop.Models
@model List<Product>
<center>
    <div class="container-fluid">
        <h2 class="head-style-2">
            <img src="~/Content/Layout/images/icons8-fire-48.png" />Bộ sưu tập
        </h2>
        <br />
        <div class="btn-22">
            <a href="@Url.Action("AllMostPopular","Ajax")" data-ajax="true" data-ajax-method="GET" data-ajax-update="#change" data-ajax-mode="replace"><span class="span"><b>XEM TẤT CẢ</b></span></a>
        </div>
        <br />
        <br />
        <div class="masonry">
            @for (var i = 0; i < 8; i++)
            {
                <div class="item1">
                    <center>
                        <span>Chill ở nhà ></span>
                        <br />
                        <small>15 sp</small>
                        <br />
                        <br />
                    </center>
                    <div class="row">
                        <div class="col-md-12">
                            @for (var j = 0; j < 3; j++)
                            {
                                <div class="col-md-4">
                                    <img src="http://www.blugraphic.com/wp-content/uploads/2014/04/Folded-Page-Mockup1.jpg" style="width: 100%; height: 50px; display: block">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</center>
<br />
<br />
