@using Website_GSshop.Models
@model List<Product>
<center>
    <div class="container-fluid">
        <br />
        <h1 class="head-style-2">
            <img src="~/Content/Layout/images/icons8-fire-48.png"/>Deal Chớp Nhoáng
        </h1>
        <br />
        <div class="row">
            @for (var i = 0; i < 8; i++)
            {
                <div class="col-md-3">
                    <figure class="snip1278">
                        <span class="product-new-label"><b class="test">- 40%</b></span>
                        <div class="image">
                            <img src="~/Content/Layout/images/m1.jpg" alt="sq-sample6" />
                        </div>
                        <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star-outline"></i></div>
                        <figcaption>
                            <p>
                                I'm just very selective about the reality I choose to accept.
                            </p>
                            <div class="price">
                                <s>$24.00</s>$19.00
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="Almonds, 100g" />
                                        <input type="hidden" name="amount" value="149.00" />
                                        <input type="hidden" name="discount_amount" value="1.00" />
                                        <input type="hidden" name="currency_code" value="USD" />
                                        <input type="hidden" name="return" value=" " />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="submit" name="submit" value="Add to cart" class="btn btn-danger" style="font-size: 8px" />
                                    </fieldset>
                                </form>
                            </div>
                        </figcaption>

                    </figure>
                </div>
            }
        </div>
    </div>
</center>
<script>
     /* Demo purposes only */
  $(".hover").mouseleave(
    function () {
      $(this).removeClass("hover");
    }
  );
</script>
<br />
<br />
