@using Website_GSshop.Models
@model List<Product>
<!-- top Products -->
<div class="ads-grid">
    <div class="container-fluid">
        <!-- tittle heading -->
        <h3>Deal Chớp Nhoáng</h3>
        <br />
        <!-- //tittle heading -->
        <!-- product right -->
        @for (var i = 0; i < 6; i++)
        {
            <div class="agileinfo-ads-display col-md-2">
                <div class="wrapper">
                    <!-- first section (nuts) -->
                    <div class="product-sec1">
                        <div class="product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img src="~/Content/Layout/images/m1.jpg" alt="">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="single.html" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info-product ">
                                    <h4>
                                        <a href="single.html">Almonds, 100g</a>
                                    </h4>
                                    <div class="info-product-price">
                                        <span class="item_price">$149.00</span>
                                        <del>$280.00</del>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                        <form action="#" method="post">
                                            <fieldset>
                                                <input type="hidden" name="cmd" value="_cart" />
                                                <input type="hidden" name="add" value="1" />
                                                <input type="hidden" name="business" value=" " />
                                                <input type="hidden" name="item_name" value="Almonds, 100g" />
                                                <input type="hidden" name="amount" value="149.00" />
                                                <input type="hidden" name="discount_amount" value="1.00" />
                                                <input type="hidden" name="currency_code" value="USD" />
                                                <input type="hidden" name="return" value=" " />
                                                <input type="hidden" name="cancel_return" value=" " />
                                                <input type="submit" name="submit" value="Add to cart" class="button" />
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- //first section (nuts) -->
                </div>
            </div>
        }
        <!-- //product right -->
    </div>
</div>
<!-- //top products -->
