@using Website_GSshop.Models
@model List<Product>
<center>
    <div class="container-fluid">      
        <h2 class="head-style-2">
            <img src="~/Content/Layout/images/icons8-fire-48.png" />Deal Chớp Nhoáng
        </h2>
        <div class="layout">
            <div class="container-fluid">
                <div class="row" style="background-color: ghostwhite; border-radius: 16px">
                    <div class="col-md-1 mt-4">
                        <span style="color: #fe5e09" class="float-left">Đang bán</span>
                    </div>
                    <div class="col-md-6">
                        <div class="row p-3">
                            <span class="float-left">
                                <span>Kết thúc trong&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <script>
                                    // The data/time we want to countdown to
                                    var countDownDate = new Date("Jul 25, 2021 16:37:52").getTime();
                                    // Run myfunc every second
                                    var myfunc = setInterval(function () {
                                        var now = new Date().getTime();
                                        var timeleft = countDownDate - now;
                                        // Calculating the days, hours, minutes and seconds left
                                        var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                        var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
                                        var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
                                        // Result is output to the specific element
                                        document.getElementById("hours").innerHTML = hours
                                        document.getElementById("mins").innerHTML = minutes
                                        document.getElementById("secs").innerHTML = seconds
                                        // Display the message when countdown is over
                                        if (timeleft < 0) {
                                            clearInterval(myfunc);
                                            document.getElementById("hours").innerHTML = ""
                                            document.getElementById("mins").innerHTML = ""
                                            document.getElementById("secs").innerHTML = ""
                                            document.getElementById("end").innerHTML = "TIME UP!!";
                                        }
                                    }, 1000);
                                </script>
                                <span class="badge badge-danger p-3" id="hours"></span>
                                :
                                <span class="badge badge-danger p-3" id="mins"></span>
                                :
                                <span class="badge badge-danger p-3" id="secs"></span>
                                <b id="end"></b>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card-jfy-load-more J_LoadMore float-right">
                            <a class="button1 J_LoadMoreButton text-info"><span style="color: #fe5e09">MUA SẮM TOÀN BỘ SẢN PHẨM</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <section class="inner">
                <ul class="grid">
                    @for (var i = 0; i < 5; i++)
                    {
                        <li class="grid-tile">
                            <div class="item">
                                <span class="product-new-label"><b class="test">- 40%</b></span>
                                <span class="product-discount-label">
                                    <b class="pnl-favorites">
                                        <div class="pnl-ic-wrapper">
                                            <span class="pnl-ic"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><path d="M22.6,6.5c-2.9,0-5.4,1.7-6.6,4.1c-1.2-2.4-3.7-4.1-6.6-4.1C5.3,6.5,2,9.8,2,13.9C2,23.7,15.8,29,15.8,29S30,23.6,30,13.9C30,9.8,26.7,6.5,22.6,6.5L22.6,6.5z"></path></svg></span>
                                        </div>
                                    </b>
                                </span>
                                <div class="item-img" style="background-image: url('http://store.moma.org/dw/image/v2/BBQC_PRD/on/demandware.static/-/Sites-master-moma/default/dw952014b1/images/96511_a.jpg'); background-size: cover;"></div>
                                <div class="item-pnl">
                                    <div class="pnl-wrapper">
                                        <div class="pnl-description">
                                            <span class="pnl-label">Product Name</span>
                                            <span class="pnl-price"><s class="text-danger">$120,00</s> &nbsp;$100,00</span>
                                        </div>
                                        <div class="pnl-tocart">
                                            <div class="pnl-ic-wrapper">
                                                <span class="pnl-ic"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><g><path d="M25.4,29H6.6c-1.7,0-3-1.4-2.8-2.9l1.9-13.8C5.9,11,6.6,10,8,10h16c1.4,0,2.1,1,2.3,2.3l1.9,13.8 C28.4,27.6,27.1,29,25.4,29z"></path><path d="M10.6,12.7V8.4C10.6,5.4,13,3,16,3h0c3,0,5.4,2.4,5.4,5.4v4.3"></path></g></svg></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </section>
        </div>
    </div>
</center>
<script>
     /* Demo purposes only */
    $(".hover").mouseleave(
        function () {
          $(this).removeClass("hover");
        }
    );
    diff = 100000000;
    function showTimer() {
        hours = Math.floor(diff / (1000 * 60 * 60));
        mins = Math.floor(diff / (1000 * 60));
        secs = Math.floor(diff / 1000);
        $('.count').html(hours + 'hours' + minutes + 'minutes' + seconds + ' seconds');
    }
    setInterval(function () { showTimer() }, 1000); 
</script>
<br />
<br />
