@using Website_GSshop.Models
@model List<Product>
<div class="container-fluid">
    <h2 class="head-style-2">
        <img src="~/Content/Layout/images/icons8-fire-48.png" />GSMall
    </h2>
    <br />
    <center>
        <div class="btn-22">
            <a href="@Url.Action("AllMostPopular","Ajax")" data-ajax="true" data-ajax-method="GET" data-ajax-update="#change" data-ajax-mode="replace"><span class="span"><b>XEM TẤT CẢ</b></span></a>
        </div>
    </center>
    <br />
    <br />
    <div class="row">
        @foreach(var item in Model)
        {
            <div class="col-md-2">
                <div class="card hovercard">
                    <div class="cardheader" style="background-image: url('../../Content/Layout/images/gaubong.jpg'); ">
                    </div>
                    <div class="avatar1">
                        <img src="~/Content/Layout/images/gaubong.jpg" alt="" />
                    </div>
                    <div class="info">
                        <div class="title">
                            <a href="@Url.Action("GSMallDetail","View", new {@id = item.product_id})">benpai</a>
                        </div>
                        <a href="@Url.Action("GSMallDetail","View", new {@id = item.product_id})"><div class="desc">benpai</div></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />
