@using Website_GSshop.Models
@model List<GSMall>
<div class="container-fluid">
    <h2 class="article-list__heading"><img src="~/Content/Layout/images/icons8-fire-48.png" width="40" /><a href="#">GSMall</a></h2>
</div>
<div class="container-fluid">
    <div class="container-fluid" style="background-color: #f9f9f9">
        <div class="d-flex justify-content-between align-items-center mb-3 mt-3"> <h3 class="text-uppercase"></h3><a href="/Menu/Menu_GSMall"><h3 class="custom-badge text-uppercase">xem thêm <i class="fa fa-angle-right ml-1"></i></h3></a></div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-2">
                    <div class="card hovercard">
                        <div class="cardheader" style="background-image: url('../../Content/Layout/images/@item.gsmall_bg'); ">
                        </div>
                        <div class="avatar1">
                            <img src="~/Content/Layout/images/@item.gsmall_image" alt="" />
                        </div>
                        <div class="info">
                            <div class="title">
                                <a href="@Url.Action("GSMallDetail","View", new {@id = item.gsmall_id})" style="color: black">@item.gsmall_name</a>
                            </div>
                            <a href="@Url.Action("GSMallDetail","View", new {@id = item.gsmall_id})"><small class="desc" style="color: #a6a6a6">@item.gsmall_slogan</small></a>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
            }
        </div>
    </div>
</div>
<br />
<br />

