@using Website_GSshop.Models
@model List<Product>
<div class="container-fluid">
    <h3>Dành cho bạn</h3>
    <br />
    <table class="table table-bordered">
        <tbody>
            @for (var i = 0; i < 4; i++)
            {
                <tr>
                    @for (var j = 0; j < 6; j++)
                    {
                        <td>
                            <div class="product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <img src="~/Content/Layout/images/m1.jpg" alt="">
                                        <span class="product-new-top">-30%</span>
                                    </div>
                                    <div class="item-info-product ">
                                        <h4>
                                            <a href="single.html">Almonds, 100g</a>
                                        </h4>
                                        <div class="info-product-price">
                                            <span class="item_price">$149.00</span>
                                            <del>$280.00</del>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="rating1">
                                                    <span class="starRating">
                                                        <input id="rating5" type="radio" name="rating" value="5">
                                                        <label for="rating5">5</label>
                                                        <input id="rating4" type="radio" name="rating" value="4">
                                                        <label for="rating4">4</label>
                                                        <input id="rating3" type="radio" name="rating" value="3" checked="">
                                                        <label for="rating3">3</label>
                                                        <input id="rating2" type="radio" name="rating" value="2">
                                                        <label for="rating2">2</label>
                                                        <input id="rating1" type="radio" name="rating" value="1">
                                                        <label for="rating1">1</label>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p>TP.HCM</p>
                                            </div>
                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<br />