@using Website_GSshop.Models
@model List<Product>
<div class="container-fluid">
    <h2 class="article-list__heading"><img src="~/Content/Layout/images/icons8-fire-48.png" width="40" /><a href="#">Dành cho bạn</a></h2>
</div>
<div class="container-fluid">
    <div class="container-fluid" style="background-color: #f9f9f9">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-2">
                    <div class="card-1">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-row align-items-center time"><small><span class="product-new-label1"><b class="test">- 40%</b></span></small> </div>
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart-o like"></div>
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <img src="~/Content/Layout/images/@item.product_image" width="250" />
                        </div>
                        <a href="@Url.Action("ProductDetail","View", new {@id = item.product_id})" class="text-left text-dark"><h4 class="text-left mt-2">@item.product_name</h4></a>
                        <span class="text-success">@{float pricesale = (float)item.product_sale;} @pricesale.ToString("#,##0") ₫</span>
                        <br />
                        <s class="text-gray">@{float price = (float)item.product_price;} @price.ToString("#,##0") ₫</s>
                        <div class="container-fluid mt-1">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="p-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small class="text-dark">(6)</small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h6>TP.HCM</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <br />
    </div>    
</div>
<script>
    /* Demo purposes only */
    $(".hover").mouseleave(
        function () {
            $(this).removeClass("hover");
        }
    );
</script>
<br />
<br />