@using Website_GSshop.Models
@model List<Product>
<center>
    <div class="container-fluid">
        <h1 class="head-style-2">
            <img src="~/Content/Layout/images/icons8-fire-48.png" />Tìm kiếm phổ biến
        </h1>
        <br />
        <div class="row">
            @for (var i = 0; i < 5; i++)
            {
                <figure class="snip1418">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample85.jpg" alt="sample85" />
                    <div class="add-to-cart"> <i class="fa fa-plus"></i><span>Add to Cart</span></div>
                    <figcaption>
                        <h3>Pudol Doux</h3>
                        <p>All this modern technology just makes people try to do everything at once.</p>
                        <div class="price">
                            <s>$24.00</s>$19.00
                        </div>
                    </figcaption><a href="#"></a>
                </figure>
            }
        </div>
    </div>
</center>
<script>
    $(".hover").mouseleave(
        function () {
            $(this).removeClass("hover");
        }
    );
</script>
<br />
<br />
