@using Website_GSshop.Models
@model List<Product>
@{
    ViewBag.Title = "CollectionsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="collection-product">
    <div class="collection-product-banner J_banner" data-spm-anchor-id="a2o4n.col_prod_list.0.i0.6cd1233dOrKToa" style="background-image: url('../../Content/Layout/images/collection.jpg');">
        <div class="title J_title">Phụ Kiện Sành Điệu</div>
        <br />
        <div class="subtitle J_Subtitle"> Sale Cực Lớn Đến 70%</div>
        <br />
    </div>
</div>
<br />
<center>
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-2">
                    <div class="p-box">
                        <div class="p-top">
                            <span class="label1 best-seller-label test mt-2 ml-2">Best seller</span>
                            <i class="ic-dynamic-badge ic-dynamic-badge-freeShipping ic-dynamic-group-2 p-heart mt-2" style="background-image: url(&quot;//laz-img-cdn.alicdn.com/tfs/TB1QTkMXG67gK0jSZFHXXa9jVXa-45-28.png&quot;); width: 25.7143px; height: 16px;" data-spm-anchor-id="a2o4n.searchlistcategory.list.i36.58b95752VuSb8Z"></i>
                        </div>
                        <div class="text-center p-4">
                            <img id="main-image" src="https://i.imgur.com/oLXMXVW.jpg" width="300" />
                        </div>
                        <div class="p-desc">
                            <a href="@Url.Action("ProductDetail", "View", new { @id = item.product_id })"><h3 class="p-category">@item.product_name</h3></a>
                            <h5 class="text-danger">@{float price = (float)item.product_price;} @price.ToString("#,##0") ₫</h5>
                            <h5><s>@{float pricesale = (float)item.product_sale;} @pricesale.ToString("#,##0") ₫</s> -10%</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="p-price">
                                    <div class="p-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small class="text-dark">(6)</small>
                                    </div>
                                </span>
                            </div>
                            <div class="col-md-6">
                                <div class="pill1 text-right">&nbsp;&nbsp;&nbsp;&nbsp;<b>Việt Nam</b>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            }
        </div>
    </div>
    <div class="card-jfy-load-more J_LoadMore">
        <a class="button J_LoadMoreButton text-info">TẢI THÊM</a>
    </div>
</center>


