@using Website_GSshop.Models
@model List<Product>
@{
    ViewBag.Title = "CollectionsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="collection-product">
    <div class="collection-product-banner J_banner" data-spm-anchor-id="a2o4n.col_prod_list.0.i0.6cd1233dOrKToa" style="background-image: url('../../Content/Layout/images/collection.jpg');">
        <div class="title J_title">Phụ Kiện Sành Điệu</div>
        <br />
        <div class="subtitle J_Subtitle"> Sale Cực Lớn Đến 70%</div>
        <br />
    </div>
</div>
<center>
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-2">
                    <article class="card product-card">
                        <section class="card__image">
                            <span class="label1 best-seller-label test">Best seller</span>
                            <img src="~/Content/Layout/images/@item.product_image" alt="Bathroom suite">
                            <div class="overlay-bar product-card__bar">
                                <span>
                                    <img src="~/Content/Layout/images/@item.product_image" alt="Mode logo" style="height: 50px; width: 50px">
                                </span>
                            </div>
                        </section>
                        <div class="card__content">
                            <h1 class="product-card__title text">
                                @item.product_name
                            </h1>
                            <div class="product-card__prices">
                                <span class="price">@item.product_sale</span>
                                <br />
                                <span class="price-strikethrough">@item.product_price</span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="rating1">
                                        <span class="starRating">
                                            <input id="rating5" type="radio" name="rating" value="5">
                                            <label for="rating5">5</label>
                                            <input id="rating4" type="radio" name="rating" value="4">
                                            <label for="rating4">4</label>
                                            <input id="rating3" type="radio" name="rating" value="3" checked="">
                                            <label for="rating3">3</label>
                                            <input id="rating2" type="radio" name="rating" value="2">
                                            <label for="rating2">2</label>
                                            <input id="rating1" type="radio" name="rating" value="1">
                                            <label for="rating1">1</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <br />
                                    <div class="pill1 text-right">Ho Chi Minh</div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            }
        </div>
    </div>
    <div class="card-jfy-load-more J_LoadMore">
        <a class="button J_LoadMoreButton text-info">TẢI THÊM</a>
    </div>
</center>

